
<section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Color Locations</h3>
                                <div class="actions pull-right">
                                 <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
<div class="form-horizontal form-border">
<%= form_with(model: color_location, local: true) do |form| %>
  

  
  <div class="form-group">
     <label class="col-sm-3 control-label">Color</label> 
     <div class="col-lg-6">
    <%= form.select :color_id, Color.all.collect{|c| [c.code,c.id]}, {prompt: "Please Select"},class: "form-control",id: "color_id"  %>
  </div>
</div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Location</label> 
     <div class="col-lg-6">
    <%= form.text_field :located, id: :color_location_located ,class: "form-control"%>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-6">



    <%= form.submit "Submit",class: "btn btn-primary" %>
    <%= link_to 'Back', color_locations_path ,class: "btn btn-default"%>

  </div>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
</section>

<% content_for :javascript do %>
<script type="text/javascript">
  $( document ).ready(function() {
    
    $("#color_id").select2({

    });
     
    
    
});
</script>
<% end %>

