<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }
   p {
       margin-bottom:0px;
   }
   address{
    display: block;
    width: 300px;
    margin:0px;
    
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee      }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }
.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:40%;
} 
.centerdiv{
  width:100%;
  margin:0 auto;
}

.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:40%;
} 
.centerdiv{
  width:100%;
  margin:0 auto;
}
p span{
  font-weight:700;
  color:#000;
}
</style>



<center><font color="maroon"><h2>Payslip</h2></font></center>



Payslip generated on <%= @payslip.date %> 
<p>
  <strong>Employee Name:</strong>
  <%= @payslip.employee.name %>
</p>

<p>
  <strong>Employee ID:</strong>
  <%= @payslip.employee.employee_no %>
</p>

<p>
  <strong>Basic salary:</strong>
  <%= @payslip.basic_salary %>
</p>
<p>
  <strong>Date:</strong>
  <%= @payslip.date %>
</p>
<hr>

 
  <div class="rightdiv">
<table style="width:50%">
   
  <th colspan="2"><font color="maroon"><strong>Earning</strong></font></th>
  <% @earnings.each do |e| %>
  <tr>
    <th><%= e.employee_payroll.category_name %></th>
    <td><%= @payslip.basic_salary.to_f * (e.employee_payroll.percentage.to_f/100) %></td>
  </tr>
  <% end %>
</table>
</div>


<div class="leftdiv">
<table style="width:50%">
 
  <th colspan="2"><font color="maroon"><strong>Deductions</strong></font></th>
  <% @deductions.each do |e| %>
  <tr>
    <th><%= e.employee_payroll.category_name %></th>
    <td><%= @payslip.basic_salary.to_f * (e.employee_payroll.percentage.to_f/100) %></td>
  </tr>
  <% end %>
</table>
</div>


<br><br><br><br>
<div class="leftdiv">
<strong>Total:</strong>
<%= @payslip.net_salary %>
</div>

</html>







