<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class=" panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Editing Work Order</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <div class="form-horizontal form-border">
        <%= nested_form_for @workorder do |form| %>
       <div class="form-group">
          
          <div class="col-md-2">
    <%= form.text_field :order_no, id: :workorder_order_no,readonly: true,:value=> @workorder.order_no, class: "form-control" %>
  
     
    </div>
     <div class="col-md-2">
    <%= form.date_field :date, :value=> Date.today, class: "form-control" %>
  
     
    </div>
    
     <% if current_user.role == "SuperAdmin" %>
    <label class="col-sm-1 control-label">Location</label> 
    <% location = form.object.location %>

    <div class="col-md-2">
    <%= form.collection_select :location_id, Location.order(:name),:id,:name,{prompt:true},required: true%>

  </div>
    <label class="col-sm-1 control-label">Vendor</label> 
    <div class="col-md-2">
      <% name = form.object.vendor.name %>
    <%= form.grouped_collection_select :vendor_id, Location.order(:name),:vendors,:name,:id,:name,class: "form-control",required: true%>

  </div>

<% elsif current_user.role == "Center" %>

  <label class="col-sm-1 control-label">Vendor</label> 
    <div class="col-md-2">
      
    <%= form.select :vendor_id, @vendors.all.collect{|v| [v.name,v.id]},
    {prompt:true},class: "form-control",required: true,id: :diff_id %>

  </div>


 
<% end %>
</div>
    <%#= form.date_field :date, value: Date.today, :class => 'form-control' %>
         <% @darks = Color.where(dark: "Dark") %>
         <% @lights = Color.where(light: "Light") %>
        <%= form.fields_for :fproducts do |w| %>

        <label class="col-sm-1 control-label">Light Shades</label> 
    <div class="col-md-2">
      
    <%= form.select :color_id, @lights.all.collect{|v| [v.code,v.id]},
    {prompt:true},class: "form-control",id: :diff_id %>

  </div>
  <label class="col-sm-1 control-label">Dark Shades</label> 
    <div class="col-md-2">
      
    <%= form.select :color_id, @darks.all.collect{|v| [v.code,v.id]},
    {prompt:true},class: "form-control",id: :diff_id %>

  </div>
        

        <div class="form-group">
        
          
        
         <label class="col-sm-1 control-label">Product</label> 
         <div class="col-md-3">
          <%#= w.select :product , options_for_select(['Platform' , 'Crockery','Loft','Tall Unit','Wardrobe']),{prompt:true} , class: "form-control"%>

          
           <%= w.select :product, options_for_select(['Platform' , 'Crockery','Tall Unit','Loft','Wardrobe']),{prompt:true},class: "form-control" ,required: true%>
          <%#= w.select :product, options_for_select(['Carcass Box' , 'Shutters','White BSL Shelf']),{prompt:true},class: "form-control"%>
        </div>


         
        
          
          <%#= w.select :product , options_for_select(['Platform' , 'Crockery','Loft','Tall Unit','Wardrobe']),{prompt:true} , class: "form-control"%>
          
       
       
      

      <%= w.link_to_remove "Remove Order",class: "btn btn-warning" %>
      </div>
      

      <%= w.fields_for :measurements do |m| %>

      
         <div class="table-responsive">
      <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
          <colgroup>
        <col class="one"/>
        <col class="two"/>
      
      </colgroup>
      
      <tr class="fields">
        <% product = m.object.ftype %>
        
      <% if product == "Carcass Box" %>
       <td>  <%= m.select :ftype, options_for_select([product,'Shutters','White BSL Shelf','Drawer']),{prompt:true},class: "select" %></td>
       <% elsif product == "Shutters" %>
       <td>  <%= m.select :ftype, options_for_select([product,'Carcass Box','Drawer','White BSL Shelf']),{prompt:true},class: "select" %></td>
       <% elsif product == "White BSL Shelf" %>
       <td>  <%= m.select :ftype, options_for_select([product,'Carcass Box','Shutters','Drawer']),{prompt:true},class: "select" %></td>
       <% elsif product == "Drawer" %>
       <td>  <%= m.select :ftype, options_for_select([product,'Carcass Box','Shutters','White BSL Shelf']),{prompt:true},class: "select" %></td>
       <% else %>
       <td>  <%= m.select :ftype, options_for_select(['Carcass Box','Shutters','Drawer','White BSL Shelf']),{prompt:true},class: "select" %></td>

       <% end %>
      
     
      
    

      <td class="width">  <%= m.text_field :width, id: :work_order_width ,class: "form-control" , placeholder: "Width(mm)"%></td>
      <td class="wh" hidden="true">  <%= m.text_field :wh, id: :work_order_wh ,class: "form-control" , placeholder: "Width/Height(mm)"%></td>
      
       <td class="depth"><%= m.text_field :depth, id: :work_order_depth ,class: "form-control",placeholder: "Depth(mm)" %></td>
      
       <td class="height"><%= m.text_field :height, id: :work_order_height,class: "form-control" ,placeholder: "Height(mm)"%></td>
       
       <td class="skirting"> <%= m.text_field :skirting, id: :work_order_skirting ,class: "form-control",placeholder: "Skirting(mm)"%></td>
       <td class="vert"> <%= m.text_field :vertical, id: :work_order_vertical ,placeholder: "V(qty)",class: "form-control" %></td>
       <td class="hor"> <%= m.text_field :horizontal, id: :work_order_horizontal,placeholder: "H(qty)",class: "form-control" %></td>
      
       <!-- <td> <%#= m.select :color_id,Color.all.collect {|v| [v.code, v.id]}, {prompt:true},id: :color_id ,class: "form-control" %></td> -->
        <td class="side" hidden="true"><%= m.select :side,options_for_select(["Yes","No"]),{prompt:true},id: :side_id,class: "form-control" %></td>
        <td class="bsl" hidden="true"><%= m.select :bsl_type,options_for_select(["Shelf","Vertical","Framing Patti","Other"]),{prompt: "BSL type"},id: :bsl_type_id,class: "form-control" %></td>
        <% if m.object.ftype == "Shutters" %>
        <td class="choose"><%= m.check_box :glass_shutter, {}, "Yes", "No" %>Glass Shutter<br>
        <%= m.check_box :handle, {}, "Yes", "No" %>Handle<br>
        
        <%= m.check_box :handle_groove, {}, "Yes", "No"%>Handle Groove<br>
        
        <%= m.check_box :handle_fitting, {}, "Yes", "No"%>Handle Fitting</td>
        <% else %>
        <td class="choose" hidden="true"><%= m.check_box :glass_shutter, {}, "Yes", "No" %>Glass Shutter<br>
        <%= m.check_box :handle, {}, "Yes", "No" %>Handle<br>
        
        <%= m.check_box :handle_groove, {}, "Yes", "No"%>Handle Groove<br>
        
        <%= m.check_box :handle_fitting, {}, "Yes", "No"%>Handle Fitting</td>
        <% end %>
        <td><%= m.text_field :quantity, id: :work_order_quantity,class: "form-control",placeholder: "Qty" %></td>
        <td><%= m.link_to_remove "Remove",class: "btn btn-link" %></td>
    </tr>
     
  </table>
      

    

  
  <% end %>
</div>

<div class="add_m">
<p><%= w.link_to_add "Add Measurements", :measurements,class: "btn btn-warning btn-sm" %></p>
</div>
<% end %>
<p><%= form.link_to_add "Add Work Orders", :fproducts ,class: "btn btn-warning"%></p>
<!-- <button name="subject" type="submit" value="HTML" class="btn btn-danger" id="imagesAdd">Upload Images</button> -->

<%#= form.label :name1 %>
<%#= "Upload Images",id: :imagesAdd ,class: "btn btn-danger" %>

<a id="imagesAdd" class="btn btn-danger">Upload Images</a>
<a id="imagesRm" class="btn btn-primary">Cancel</a>

<div class="form-group">
         <% if !form.object.photo1? %>

 <div class="col-md-2">
  <%= form.file_field :photo1 %>
<%= form.text_field :name1,placeholder: "Name" , class: "form-control" %>

</div>
<% end %>



<% if !form.object.photo2? %>
<div class="col-md-2">
  <%= form.file_field :photo2 %>
<%= form.text_field :name2,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>

</div>
<% end %>

<% if !form.object.photo3? %>

<div class="col-md-2">
  <%= form.file_field :photo3 %>

<%= form.text_field :name3,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>
</div>
<% end %>

<% if !form.object.photo4? %>

<div class="col-md-2">
  <%= form.file_field :photo4%>
<%= form.text_field :name4,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>

</div>
<% end %>

<% if !form.object.photo5? %>

<div class="col-md-2">
  <%= form.file_field :photo5 %>

<%= form.text_field :name5,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>
</div>
<% end %>

</div>



  <% if form.object.photo1? %>
<%#= image_tag form.object.photo1.url(:small) %>
<%= image_tag  form.object.photo1.url ,width: "160",height: "160"%>
 <%= form.label :remove_photo1 %>
      <%= form.check_box :remove_photo1 %>
      
<% end %>




<% if form.object.photo2? %>
<%#= image_tag form.object.photo1.url(:small) %>
<%= image_tag  form.object.photo2.url ,width: "160",height: "160"%>
 <%= form.label :remove_photo2 %>
      <%= form.check_box :remove_photo2 %>
      
<% end %>


<% if form.object.photo3? %>
<%#= image_tag form.object.photo1.url(:small) %>
<%= image_tag  form.object.photo3.url ,width: "160",height: "160"%>
 <%= form.label :remove_photo3 %>
      <%= form.check_box :remove_photo3 %>
      
<% end %>
<% if form.object.photo4? %>
<%#= image_tag form.object.photo1.url(:small) %>
<%= image_tag  form.object.photo4.url ,width: "160",height: "160"%>
 <%= form.label :remove_photo4 %>
      <%= form.check_box :remove_photo4 %>
      
<% end %>
<% if form.object.photo5? %>
<%#= image_tag form.object.photo1.url(:small) %>
<%= image_tag  form.object.photo5.url ,width: "160",height: "160"%>
 <%= form.label :remove_photo5 %>
      <%= form.check_box :remove_photo5 %>
      
<% end %>
</div>


<div align="center">
  <%= form.submit "Submit" , class: "btn btn-warning" %>
  <%= link_to 'Back', workorders_path,class: "btn btn-warning" %>

</div>

<% end %>
</div>
</div>
</div>
</div>
</div>
</section>



<% content_for :javascript do %>
<script type="text/javascript">
  $('.select').addClass("form-control");
 $(document).on('nested:fieldAdded', function(event){
 // this field was just inserted into your form
 var field = event.field;
 var selectField = field.find('.product');

 selectField.addClass("form-control");
 

 // and activate datepicker on it
//  dateField.datepicker();
});
</script>

   <script type="text/javascript">
    var ftype;
  $(document).on("change", ".product", function () {


   ftype = $(this).val();
  
   
   
   
  
  


  });
  

  $(document).on("change", ".select", function () {
    
    
    

    
   
   
  /*var product_id = $(this);*/
  elem = jQuery(this);
  elemt = jQuery(this);
  var type = $(this).val();


  


  

    container = elem.parents("tr.fields");
   
    container3 = elem.parents("th.choose");

    container1 = elem.parents("th.fields");
    container.find("#work_order_width").focus();
    
      if(type == "Shutters")
    {


      container.find('.choose').show();
      container.find('.depth').hide();
      container.find('.skirting').hide();
      container.find('.vert').hide();
      container.find('.hor').hide();
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();
      container.find('.side').hide();
      

    }
if(type == "White BSL Shelf"){
  container.find('.choose').hide();
      container.find('.depth').show();
      container.find('.skirting').hide();
      container.find('.vert').hide();
      container.find('.hor').hide();
      container.find('.side').hide();
      container.find('.bsl').show();
      container.find('.wh').show();
      container.find('.width').hide();
      container.find('.height').hide();



    }

if((ftype == "Platform" && type == "Carcass Box") || (ftype == "Tall Unit" && type == "Carcass Box") || (ftype == "Wardrobe" && type == "Carcass Box") || (ftype == "Loft" && type == "Carcass Box") ){
     container.find('.vert').show();
      container.find('.hor').show();
      container.find('#work_order_vertical').addClass('form-control');
      container.find('#work_order_horizontal').addClass('form-control');
      container.find('.choose').hide();
      container.find('.skirting').show();
      container.find('.side').show();
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.depth').show();
      container.find('.wh').hide();


    }

    if(type == "Drawer"){
      container.find('.vert').hide();
      container.find('.hor').hide();
      container.find('.choose').hide();
      container.find('.skirting').hide();
      container.find('.depth').show();
      container.find('.side').hide();
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();


    }

    if(type == "Carcass Box"){
      
      container.find('.choose').hide();
      container.find('.skirting').show();
      container.find('.side').show();
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();



    }
    

    
    

    
  
  });

  
  </script>
<script type="text/javascript">
 
$(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field; 
  // it's a jQuery object already! Now you can find date input
  alert(vbvbvb);

  var selectField1 = field.find('#work_order_width');
  var selectField2 = field.find('.select');
  selectField1.focus();
  selectField2.addClass("form-control");
}); 
</script>
 
 
 <script type="text/javascript">
  
  $('#workorder_name1').hide();

  $('#workorder_name2').hide();

  $('#workorder_name3').hide();

  $('#workorder_name4').hide();

  $('#workorder_name5').hide();

  $('#workorder_photo1').hide();

  $('#workorder_photo2').hide();

  $('#workorder_photo3').hide();

  $('#workorder_photo4').hide();

  $('#workorder_photo5').hide();
  $('#imagesRm').hide();

  $(document).on("click", "#imagesAdd", function() {

     $('#workorder_name1').show();

  $('#workorder_name2').show();

  $('#workorder_name3').show();

  $('#workorder_name4').show();

  $('#workorder_name5').show();

  $('#workorder_photo1').show();

  $('#workorder_photo2').show();

  $('#workorder_photo3').show();

  $('#workorder_photo4').show();

  $('#workorder_photo5').show();
  $('#imagesRm').show();


  });


</script>

<script type="text/javascript">
  $(document).on("click", "#imagesRm", function() {
   
$('#workorder_name1').hide();

  $('#workorder_name2').hide();

  $('#workorder_name3').hide();

  $('#workorder_name4').hide();

  $('#workorder_name5').hide();

  $('#workorder_photo1').hide();

  $('#workorder_photo2').hide();

  $('#workorder_photo3').hide();

  $('#workorder_photo4').hide();

  $('#workorder_photo5').hide();
  $('#imagesRm').hide();

  });
</script>

<script type="text/javascript">
  $("#workorder_location_id").addClass('form-control');
  $("#workorder_vendor_id").addClass('form-control');
  jQuery(function() {
  var states;
  $('#workorder_vendor_id').parent().show();
  states = $('#workorder_vendor_id').html();
  console.log(states);

  return $('#workorder_location_id').change(function() {
    var id;
  id = $('#workorder_location_id').val();
  
    var country, escaped_country, options;
    country = $('#workorder_location_id :selected').text();
    escaped_country = country.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(states).filter("optgroup[label=" + escaped_country + "]").html();
    console.log(options);
    
    if (options) {
      $('#workorder_vendor_id').html(options);
      return $('#workorder_vendor_id').parent().show();
    } else {
      $('#workorder_vendor_id').empty();
      return $('#workorder_vendor_id').parent().hide();
    }
  });
});
</script>
 
<% end %>




