<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">New Work Order</h3>
            <div class="actions pull-right">
             <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <div class="form-horizontal form-border">
        <%= nested_form_for @workorder do |form| %>
        

       <div class="form-group">
          
          <div class="col-md-2">
    <%= form.text_field :order_no, id: :workorder_order_no,readonly: true,:value=> @workorder.order_no, class: "form-control" %>
     </div>
     <%= form.hidden_field :invoice_no , :value => @workorder.invoice_no %>
   
     <div class="col-md-2">
    <%= form.date_field :date, :value=> Date.today, class: "form-control"%>
  
     
    </div>
    <% if current_user.role == "SuperAdmin" %>
    <label class="col-sm-1 control-label">Location</label> 
    <div class="col-md-2">
    <%= form.collection_select :location_id, Location.order(:name),:id,:name,{prompt:true}%>

  </div>
    <label class="col-sm-1 control-label">Vendor</label> 
    <div class="col-md-2">
    <%= form.grouped_collection_select :vendor_id, Location.order(:name),:vendors,:name,:id,:name,include_blank: true,class: "form-control"%>

  </div>

<% elsif current_user.role == "Center" %>

  <label class="col-sm-1 control-label">Vendor</label> 
    <div class="col-md-2">
      
    <%= form.select :vendor_id, @vendors.all.collect{|v| [v.name,v.id]},
    {prompt:true},class: "form-control",id: :diff_id %>

  </div>


 
<% end %>
</div>
    <%#= form.date_field :date, value: Date.today, :class => 'form-control' %>
         <% @darks = Color.where(dark: "Dark") %>
         <% @lights = Color.where(light: "Light") %>
        
    <div class="col-md-2">
      
    <%= form.select :dark_color, @lights.all.collect{|v| [v.code,v.id]},
    {prompt: "Light Shades"},class: "form-control",id: :diff_id %>

  </div>
  <!-- <label class="col-sm-1 control-label">Dark Shades</label>  -->
    <div class="col-md-2">
      
    <%= form.select :light_color, @darks.all.collect{|v| [v.code,v.id]},
    {prompt: "Dark Shades"},class: "form-control",id: :light_id %>

  </div>


    <div class="form-group">
          <!-- <label class="col-sm-2 control-label">G Section</label>  -->
          <div class="col-md-2">
           <%= form.select :g_section, options_for_select(["AF","CP","CP Brush"]),{prompt: "G Section"},class: "form-control" %>
         </div>
   
          <!-- <label class="col-sm-2 control-label">G Section(with end cap)</label>  -->
             <div class="col-md-2">
            <%= form.select :g_section_with_end_cap, options_for_select(["AF","CP","CP Brush"]),{prompt: "G Section(with end cap)"},class: "form-control" %>
            </div>
    </div>
        
     <hr>    

        <%= form.fields_for :fproducts,@workorder.fproducts.build do |w| %>
        

        <div class="form-group">
        
          
        
         <label class="col-sm-1 control-label">Product</label> 
         <div class="col-md-3">
          <%#= w.select :product , options_for_select(['Platform' , 'Crockery','Loft','Tall Unit','Wardrobe']),{prompt:true} , class: "form-control"%>
          <%= w.select :product, options_for_select(['Platform' , 'Crockery','Tall Unit','Loft','Wardrobe']),{prompt:true},class: "product" %>
          <%#= w.select :product, options_for_select(['Carcass Box' , 'Shutters','White BSL Shelf','Hinges Patti']),{prompt:true},class: "form-control"%>
        </div>


        
          
          <%#= w.select :product , options_for_select(['Platform' , 'Crockery','Loft','Tall Unit','Wardrobe']),{prompt:true} , class: "form-control"%>
          
       
       
      

      <%= w.link_to_remove "Remove Order",class: "btn btn-warning" %>
      </div>
      

      <%= w.fields_for :measurements,@workorder.fproducts.build.measurements.build do |m| %>

      
         <div class="table-responsive">
      <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
          <colgroup>
        <col class="one"/>
        <col class="two"/>
      
      </colgroup>
      
      <tr class="fields">
      
       <td><%= m.select :ftype, options_for_select(['Carcass Box' ,'Drawer', 'Shutters','White BSL Shelf']),{prompt:true} ,class: 'select'%></td>
      
     
      
    

      <td class="width">  <%= m.text_field :width, id: :work_order_width ,class: "form-control" , placeholder: "Width(mm)" %></td>

      <td class="wh" hidden="true">  <%= m.text_field :wh, id: :work_order_wh ,class: "form-control" , placeholder: "Width/Height(mm)"%></td>
       
       
       <!-- <td style="display: inline-block;"><%#= m.text_field :width, id: :work_order_width ,class: "form-control" , placeholder: "Width(mm)" , required: true%><%#= m.text_field :height, id: :work_order_height,class: "form-control" ,placeholder: "Height(mm)",required: true%></td> -->
       <td class="depth"><%= m.text_field :depth, id: :work_order_depth ,class: "form-control",placeholder: "Depth(mm)" %></td>
       <td class="height"><%= m.text_field :height, id: :work_order_height,class: "form-control" ,placeholder: "Height(mm)"%></td>
       <td class="skirting" hidden="true"> <%= m.text_field :skirting, id: :work_order_skirting ,class: "form-control",placeholder: "Skirting(Height)"%></td>
       <td class="vert" hidden="true"> <%= m.text_field :vertical, id: :work_order_vertical ,placeholder: "V(qty)" %></td>
       <td class="hor" hidden="true"> <%= m.text_field :horizontal, id: :work_order_horizontal,placeholder: "H(qty)" %></td>
       <!-- <td> <%#= m.select :color_id,Color.all.collect {|v| [v.code, v.id]}, {prompt:true},id: :color_id ,class: "form-control" %></td> -->
        
        <td class="bsl" hidden="true"><%= m.select :bsl_type,options_for_select(["Shelf","Vertical","Framing Patti","Other"]),{prompt: "BSL type"},id: :bsl_type_id,class: "form-control" %></td>

        <td class="choose" hidden="true"><%= m.check_box :glass_shutter, {}, "Yes", "No" %>Glass Shutter<br>
        
        
        <%= m.check_box :handle_groove, {}, "Yes", "No" %>Handle Groove<br>
        
        <%= m.check_box :handle_fitting, {}, "Yes", "No"%>Handle Fitting<br>
        <%= m.check_box :handle, {}, "Yes", "No" %>G Handle
      </td>


        <td><%= m.text_field :quantity, id: :work_order_quantity,class: "form-control",placeholder: "Qty"%></td>
        <td class="add_color" hidden="true">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <tr style="background-color: burlywood;">
    <th>Side</th>
    <th>D</th>
    <th>L</th>
  </tr>
            <tr>
              <%#= nested_form_for @workorder do |form| %>
              <%#= form_for :measurement do |form| %>
<td>R<%= m.check_box :right , {},"Yes" , "No" %></td>

<td><%= m.check_box :right_dark, {:class => "chb"},"Yes" , "No" %></td>
<td><%= m.check_box :right_light, {:class => "chb"},"Yes" , "No" %></td>
</tr>
<tr>
<td>L<%= m.check_box :left , {},"Yes" , "No" %></td>
<td><%= m.check_box :left_dark, {:class => "chb1"},"Yes" , "No" %></td>
<td><%= m.check_box :left_light, {:class => "chb1"},"Yes" , "No" %></td>
</tr>
<tr>
<td>T<%= m.check_box :top , {},"Yes" , "No" %></td> 
<td><%= m.check_box :top_dark, {:class => "chb2"},"Yes" , "No" %></td>
<td><%= m.check_box :top_light, {:class => "chb2"},"Yes" , "No" %></td>
</tr>
<tr>
<td>B<%= m.check_box :bottom , {},"Yes" , "No" %></td>

<td><%= m.check_box :bottom_dark, {:class => "chb3"},"Yes" , "No" %></td>
<td><%= m.check_box :bottom_light, {:class => "chb3"},"Yes" , "No" %></td>
</tr>
</table>

<%# end %>



</td>
        

        
        <td><%= m.link_to_remove "Remove",class: "btn btn-link" %></td>
    </tr>
    
    
   

      
  </table>
      

    

  
  <% end %>
</div>



<div class="add_m">
<p><%= w.link_to_add "Add Measurements", :measurements,class: "btn btn-warning btn-sm" %></p>
</div>
<% end %>
<p><%= form.link_to_add "Add Work Orders", :fproducts ,class: "btn btn-warning"%></p>
<!-- <button name="subject" type="submit" value="HTML" class="btn btn-danger" id="imagesAdd">Upload Images</button> -->

<%#= form.label :name1 %>
<%#= "Upload Images",id: :imagesAdd ,class: "btn btn-danger" %>

<a id="imagesAdd" class="btn btn-danger">Upload Images</a>
<a id="imagesRm" class="btn btn-primary">Cancel</a>

<div class="form-group">
         
 <div class="col-md-2">
  <%= form.file_field :photo1 %>
<%= form.text_field :name1,placeholder: "Name" , class: "form-control" %>

<% if @workorder.photo1? %>
<%#= image_tag form.object.photo1.url(:small) %>
<%= image_tag  @workorder.photo1.url ,width: "160",height: "160"%>
 <%= form.label :remove_photo1 %>
      <%= form.check_box :remove_photo1 %>
      
<% end %>
</div>


<div class="form-group">

<div class="col-md-2">
  <%= form.file_field :photo2 %>

<%= form.text_field :name2,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>
</div>


<div class="col-md-2">
  <%= form.file_field :photo3 %>
<%= form.text_field :name3,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>

</div>


<div class="col-md-2">
  <%= form.file_field :photo4%>

<%= form.text_field :name4,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>
</div>


<div class="col-md-2">
  <%= form.file_field :photo5 %>
<%= form.text_field :name5,placeholder: "Name" , class: "form-control" %>
<%#= form.label :photo1 %>

</div>
</div>
<div align="center">
  <%= form.submit 'Submit' , class: "btn btn-warning" %>
  <%= link_to 'Back', workorders_path,class: "btn btn-warning" %>

</div>

<% end %>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

 




<% content_for :javascript do %>

<script type="text/javascript">
  
  $( document ).ready(function() {
    $("#workorder_location_id").select2();
    $("#workorder_vendor_id").select2();
    $("#diff_id").select2();
    $("#light_id").select2();
});
</script>

<!-- <script type="text/javascript">
  $('.product').addClass("form-control");
 $(document).on('nested:fieldAdded', function(event){
 // this field was just inserted into your form
 alert("Added Nested Fields");
 var field = event.field;
 var selectField = field.find('.product');
selectField.addClass("form-control");
var selectField1 = field.find('.select');
selectField1.select2();

 
 

 // and activate datepicker on it
//  dateField.datepicker();
});
</script>
 -->
   <script type="text/javascript">
    var ftype;
  $(document).on("change", ".product", function () {


   ftype = $(this).val();



   
/*   $('#example tr td:eq(2)').appendTo('#example tr');
*/   
  
  


  });
  

  $(document).on("change", ".select", function () {


    
    
    

    
   
   
  /*var product_id = $(this);*/
  elem = jQuery(this);
  elemt = jQuery(this);
  var type = $(this).val();

  


  

  container = elem.parents("tr.fields");
  container3 = elem.parents("th.choose");
  container1 = elem.parents("th.fields");
  container.find("#work_order_width").focus();
  if(type == "Shutters")
    {


      container.find('.choose').show();
      container.find('.depth').hide();
      container.find('.skirting').hide();
      container.find('.vert').hide();
      container.find('.hor').hide();
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();
      
      container.find('.add_color').hide();
      

    }
if(type == "White BSL Shelf"){
  container.find('.choose').hide();
      container.find('.depth').show();
    container.find('.skirting').hide();
    container.find('.vert').hide();
      container.find('.hor').hide();
      
      container.find('.bsl').show();
      container.find('.wh').show();
      container.find('.width').hide();
      container.find('.height').hide();
      container.find('.add_color').hide();



    }
    if(ftype == "Loft" && type == "Carcass Box"){


      container.find('.vert').show();
      container.find('.hor').show();
      container.find('#work_order_vertical').addClass('form-control');
      container.find('#work_order_horizontal').addClass('form-control');
      container.find('.choose').hide();
/*      container.find('.skirting').hide();
*/     
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();
      container.find('.add_color').show();
      container.find('.height').insertAfter(container.find('.depth'));
      

    }

if((ftype == "Platform" && type == "Carcass Box") || (ftype == "Tall Unit" && type == "Carcass Box") || (ftype == "Wardrobe" && type == "Carcass Box")){

     container.find('.vert').show();
      container.find('.hor').show();
      container.find('#work_order_vertical').addClass('form-control');
      container.find('#work_order_horizontal').addClass('form-control');
      container.find('.choose').hide();
      container.find('.skirting').show();
     
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();
      container.find('.add_color').show();
      container.find('.height').insertAfter(container.find('.depth'));
      



    }
    
    if(ftype == "Crockery" && type == "Carcass Box"){

      container.find('.vert').hide();
      container.find('.hor').hide();
      container.find('#work_order_vertical').addClass('form-control');
      container.find('#work_order_horizontal').addClass('form-control');
      container.find('.choose').hide();
/*      container.find('.skirting').hide();
*/     
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();
      container.find('.add_color').show();
      container.find('.height').insertAfter(container.find('.depth'));
      

    }

    if(type == "Drawer"){
      container.find('.vert').hide();
      container.find('.hor').hide();
      container.find('.choose').hide();
     container.find('.skirting').hide();
      container.find('.depth').show();
      
      container.find('.bsl').hide();
      container.find('.width').show();
      container.find('.height').show();
      container.find('.wh').hide();
      container.find('.add_color').hide();
      container.find('.depth').insertAfter(container.find('.height'));
      
/*      container.find('#work_order_depth')[0].placeholder='Height(mm)';
*/      /*container.find('#work_order_height')[0].placeholder='Depth(mm)';*/


    }
   
    
    

    
  
  });

  
  </script>

<script type="text/javascript">
 $(".product").addClass("form-control");
 $(".select").select2();
 $(".product").select2();

$(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field; 
  // it's a jQuery object already! Now you can find date input
  

  var selectField1 = field.find('#work_order_width');
  var selectField2 = field.find('.select');
  var selectField3 = field.find('.product');
  
 

  selectField2.select2();
  selectField3.addClass("form-control");
  selectField3.select2();
  

}); 
</script>

 
 
 <script type="text/javascript">
  
  $('#workorder_name1').hide();

  $('#workorder_name2').hide();

  $('#workorder_name3').hide();

  $('#workorder_name4').hide();

  $('#workorder_name5').hide();

  $('#workorder_photo1').hide();

  $('#workorder_photo2').hide();

  $('#workorder_photo3').hide();

  $('#workorder_photo4').hide();

  $('#workorder_photo5').hide();
  $('#imagesRm').hide();

  $(document).on("click", "#imagesAdd", function() {

     $('#workorder_name1').show();

  $('#workorder_name2').show();

  $('#workorder_name3').show();

  $('#workorder_name4').show();

  $('#workorder_name5').show();

  $('#workorder_photo1').show();

  $('#workorder_photo2').show();

  $('#workorder_photo3').show();

  $('#workorder_photo4').show();

  $('#workorder_photo5').show();
  $('#imagesRm').show();


  });


</script>

<script type="text/javascript">
  $(document).on("click", "#imagesRm", function() {
   
$('#workorder_name1').hide();

  $('#workorder_name2').hide();

  $('#workorder_name3').hide();

  $('#workorder_name4').hide();

  $('#workorder_name5').hide();

  $('#workorder_photo1').hide();

  $('#workorder_photo2').hide();

  $('#workorder_photo3').hide();

  $('#workorder_photo4').hide();

  $('#workorder_photo5').hide();
  $('#imagesRm').hide();

  });
</script>

<script type="text/javascript">
  $("#workorder_location_id").addClass('form-control');
  $("#workorder_vendor_id").addClass('form-control');
  jQuery(function() {
  var states;
  $('#workorder_vendor_id').parent().hide();
  states = $('#workorder_vendor_id').html();
  console.log(states);

  return $('#workorder_location_id').change(function() {
    var id;
  id = $('#workorder_location_id').val();
  
    var country, escaped_country, options;
    country = $('#workorder_location_id :selected').text();
    escaped_country = country.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(states).filter("optgroup[label=" + escaped_country + "]").html();
    console.log(options);
    
    if (options) {
      $('#workorder_vendor_id').html(options);
      return $('#workorder_vendor_id').parent().show();
    } else {
      $('#workorder_vendor_id').empty();
      return $('#workorder_vendor_id').parent().hide();
    }
  });
});
</script>
<script type="text/javascript">

  

  $(".chb").change(function() {
    var checked = $(this).is(':checked');
    $(".chb").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });

  $(".chb1").change(function() {
    var checked = $(this).is(':checked');
    $(".chb1").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });

  $(".chb2").change(function() {
    var checked = $(this).is(':checked');
    $(".chb2").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });

  $(".chb3").change(function() {
    var checked = $(this).is(':checked');
    $(".chb3").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });
  

</script>
 
<% end %>





