Add Color:
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        		<tr>
        			<%#= nested_form_for @workorder do |form| %>
        			<%#= form_for :measurement do |form| %>

<td>R<%= m.check_box :right , {},"Yes" , "No" %></td>

<td><%= m.check_box "dark", {} %>Dark</td>
<td><%= m.check_box "light", {} %>Light</td>
</tr>
<tr>
<td>L<%= m.check_box :left , {},"Yes" , "No" %></td>
<td><%= m.check_box "dark", {} %>Dark</td>
<td><%= m.check_box "light", {} %>Light</td>
</tr>
<tr>
<td>T<%= m.check_box :top , {},"Yes" , "No" %></td> 
<td><%= m.check_box "dark", {} %>Dark</td>
<td><%= m.check_box "light", {} %>Light</td>
</tr>
<tr>
<td>B<%= m.check_box :bottom , {},"Yes" , "No" %></td>

<td><%= m.check_box "dark", {} %>Dark</td>
<td><%= m.check_box "light", {} %>Light</td>
</tr>
</table>

<%# end %>



