<% modal ||= false %>
<% remote = modal ? true : false %>
<div class="modal-dialog">    
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="exampleModalCenterTitle">Add Color</h4>
        </div>
        <div class="modal-body">
        	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        		<tr>
        			<%#= nested_form_for @workorder do |form| %>
        			<%= form_for :additional,url: {action: 'add' , controller: 'workorders'} do |form| %>

<td>Right<%= form.check_box :right , {},"Yes" , "No" %></td>
<%# @colors = Color.all %>
<%# byebug %>
<td><%= form.select :color_id , options_from_collection_for_select(@colors,"id","code"),{prompt: "Select Color"},class: "form-control"%></td>

<td><%= form.check_box "dark", {} %>Dark</td>
<td><%= form.check_box "light", {} %>Light</td>
</tr>
<tr>
<td>Left<%= form.check_box :left , {},"Yes" , "No" %></td>
<td><%= form.select :color_id , options_from_collection_for_select(@colors,"id","code"),{prompt: "Select Color"},class: "form-control"%></td>
<td><%= form.check_box "dark", {} %>Dark</td>
<td><%= form.check_box "light", {} %>Light</td>
</tr>
<tr>
<td>Top<%= form.check_box :top , {},"Yes" , "No" %></td> 
<td><%= form.select :color_id , options_from_collection_for_select(@colors,"id","code"),{prompt: "Select Color"},class: "form-control"%></td>
<td><%= form.check_box "dark", {} %>Dark</td>
<td><%= form.check_box "light", {} %>Light</td>
</tr>
<tr>
<td>Bottom<%= form.check_box :bottom , {},"Yes" , "No" %></td>
<td><%= form.select :color_id , options_from_collection_for_select(@colors,"id","code"),{prompt: "Select Color"},class: "form-control"%></td>
<td><%= form.check_box "dark", {} %>Dark</td>
<td><%= form.check_box "light", {} %>Light</td>
</tr>
</table>
<%= form.submit "Submit" ,class: "btn btn-success",id: "submit" %>

<% end %>
</div>
</div>
</div>


