         


 <% if @payment_status.present? %>
         <table id="payment_status" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Order no</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Payment Status</th>
      <th>Total</th>
      <th>Paid</th>
      <th>Pending Amount</th>
     
      
    </tr>
  </thead>

  <tbody>
    <% @returns.each do |delivery| %>
      <tr>
        <td><%= link_to delivery.order_no%></td>
        <td><%= delivery.date %></td>
        <td><%= delivery.vendor.name %></td>
        
       <td><%if delivery.payment_status == true%>
        <font color="green">Paid</font>
        <%elsif delivery.payment_status == false || delivery.payment_status == nil%>
        <font color="red">Pending</font>
        <%end%></td>
        <td><%= delivery.total_to_pay.to_f.ceil %></td>
        <% if delivery.rem_price == nil %>
        <td>Rs.0</td>
        <td><%= delivery.total_to_pay.to_f.ceil %></td>
        <% else %>
         <td><%= delivery.total_to_pay.to_f.ceil - delivery.rem_price.to_f.ceil %></td>
          <td><%= delivery.rem_price.to_f.ceil %></td>
         <% end %>
       
        
        
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Excel", export_payment_status_reports_path(payment_status: @payment_status,format: "xlsx"), class: 'btn btn-success' %>
<% else %>
<table id="vendor_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Order no</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Payment Status</th>
       <th>Total</th>
      <th>Paid</th>
      <th>Pending Amount</th>
    </tr>
  </thead>
  

  <tbody>
    <% @workorders.each do |delivery| %>
      <tr>
        <td><%= delivery.order_no%></td>
        <td><%= delivery.date %></td>
        <td><%= delivery.vendor.name %></td>
        
       <td><%if delivery.payment_status == true%>
        <font color="green">Paid</font>
        <%elsif delivery.payment_status == false%>
        <font color="red">Pending</font>
        <%end%></td>
        <td><%= delivery.total_to_pay.to_f.ceil %></td>
        <% if delivery.rem_price == nil %>
        <td>Rs.0</td>
        <td><%= delivery.total_to_pay.to_f.ceil %></td>
        <% else %>
         <td><%= delivery.total_to_pay.to_f.ceil - delivery.rem_price.to_f.ceil %></td>
          <td><%= delivery.rem_price.to_f.ceil %></td>
         <% end %>
       
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Excel", export_payment_status_reports_path(vendor_id: @vendor_id,format: "xlsx"), class: 'btn btn-success' %>


<% end %>



</div>

