<section id="main-content" class="animated fadeInUp">
                      <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-warning">
                          <div class="panel-heading">
                            <h3 class="panel-title">Work Orders</h3>
                            <div class="actions pull-right">
                             <i class="fa fa-expand"></i>
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">

 
       
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">



  <thead>
    <tr>
      
      <th>Order No</th>
      <th>Vendor</th>
      <th>Date</th>
      <th>Status</th>
      <th>Work</th>
     <!-- <th>Employee</th>
     <th>Start(Date & Time)</th>
     <th>End(Date & Time)</th>
     <th>Status</th>
     <th>Work</th> -->
    
     
    
    
    
     
    </tr>
  </thead>
  

  <tbody>
    <% @workorders.each do |w| %>
    
   

      <tr >
        
        <td><%= link_to w.order_no , workorder_status_workorder_path(w.id),class: "btn btn-link",style: "color: #007694;" %></td>
       
        <td><%= w.vendor.name %></td>
        <td><%= w.date %></td>
        <% if w.approve == false %>
        <td><font color="red">Not Approved</font></td>
        <td></td>
        <% else %>
        <% @emp = @employee_workorders.find_by(workorder_id: w.id) %>
        <% @st = @emp.status %>
        <td><%= @st %></td>
        <td><%= @emp.employee.employee_type %></td>
        <% end %>
        <!-- <td><%#= w.employee.name %></td>
        <td><%#= w.starttime %></td>
        <td><%#= w.endtime %></td>
       
        <td><%#= w.status %></td>
        <td><%#= w.employee.employee_type %></td>
         -->
        
        
           
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%#= link_to 'New Workorder', new_workorder_path %>
</div>
</div>
</div>
</div>
</section>

<% content_for :javascript do %>
                   <!--Load these page level functions-->
                    <script>
                    $(document).ready(function() {

                         $('#example').dataTable();
                         
                    });
                    </script>
            <% end %>