<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class=" panel panel-info">
        <div class="panel-body">
          <div align="right">
            <!-- Links to download pdfs -->
            <% if current_user.role == "SuperAdmin" %>
            <%= link_to 'Download Pro-forma Invoice ',proforma_invoice_workorder_path(@workorder, format: 'pdf'),target: '_blank', class: "btn btn-success"%>|
            <%= link_to 'Download Workorder PDF ',workorder_pdf_workorder_path(@workorder, format: 'pdf'),target: '_blank', class: "btn btn-warning"%>
            <%= link_to 'Edit Invoice',invoice_workorder_path(@workorder),class: "btn btn-danger" %>
            <% end %>
            <!-- End of links -->
          </div><br>
  <p>
    <strong>Order No.:</strong>
    <%= @workorder.order_no if @workorder.order_no.present? %><br>
    <strong>Date:</strong>
    <%= @workorder.date if @workorder.date.present? %>
  </p>  

  <p>
  <strong>Selected Color Shades of this work order:</strong><br>
  <% if @workorder.light_color.present? %>
  <% @id1  = @workorder.light_color.to_i %> 
  <b>Light Shade:</b>
  <%= Color.find(@id1).code %><br> 
  <b>Location:</b>
  <li>
  <%= ColorLocation.find_by(color_id: @id1).located %></li>
  <% end %>
  <% if @workorder.dark_color.present? %>
  <% @id2  = @workorder.dark_color.to_i %> 
  <b>Dark Shade:</b>
  <%= Color.find(@id2).code %><br> 
  <b>Location:</b><li>
  <%= ColorLocation.find_by(color_id: @id2).located %></li>
  <% end %>
</p>

          
  <% @workorder.fproducts.each do |f| %>
  <b><u><%= f.product %></u></b>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Type</th>
        <th>Width</th>
        <th>Height</th>
        <th>Depth</th>
        <th>Skirting</th>
        <th>Horizontal</th>
        <th>Vertical</th>
        <th>Quantity</th>
        <th>Glass Shutter</th>
        <th>Handle</th>
        <th>Handle Groove</th>
        <th>Handle Fitting</th>
        <th>BSL type</th>
        <th>Additional</th>
      </tr>
    </thead>
    <tbody>
       <% f.measurements.each do |m| %>
      <tr class="data">
        <%= hidden_field_tag :m_id , m.id  %>
        <td><%= m.ftype %></td>
        <% if m.ftype == "White BSL Shelf" %>
        <td><%= m.wh %></td>
        <% else %>
        <td><%= m.width %></td>
        <% end %>
        <td><%= m.height %></td>
        <% if m.ftype == "Carcass Box" || m.ftype == "Drawer" || m.ftype == "White BSL Shelf  " %>
        <td><%= m.depth %></td>
        <% else %>
        <td>NA</td>
        <% end %>
        <% if m.ftype == "Carcass Box" %>
        <td><%= m.skirting %></td>
        <td><%= m.horizontal %></td>
        <td><%= m.vertical %></td>
        <% else %>
        <td>NA</td>
        <td>NA</td>
        <td>NA</td>
        <% end %>
        <td><%= m.quantity %></td>
        <% if m.ftype == "Shutters" %>
        <td><%= m.glass_shutter %></td>
        <td><%= m.handle %></td>
        <td><%= m.handle_groove %></td>
        <td><%= m.handle_fitting %></td>
        <% else %>
        <td>NA</td>
        <td>NA</td>
        <td>NA</td>
        <td>NA</td>
        <% end %>
        <% if m.ftype == "White BSL Shelf" %>
        <td><%= m.bsl_type if m.bsl_type.present? %></td>
        <% else %>
        <td>NA</td>
        <% end %>
        <% if m.ftype == "Carcass Box" %>
       
          
          <td><%= link_to "Additionals" , addition_workorders_path(measurement_id: m.id,workorder_id: @workorder.id,fproduct_id: f.id) %></td>
         
        <% else %>
          <td></td>
        <% end%>
        
    </tr>
    <% end %>

  </tbody>
</table>
<% end %>

<%= image_tag  @workorder.photo1.url ,width: "160",height: "160" if @workorder.photo1.present? %>
<%= image_tag  @workorder.photo2.url ,width: "160",height: "160" if @workorder.photo2.present?%>
<%= image_tag  @workorder.photo3.url ,width: "160",height: "160" if @workorder.photo3.present?%>
<%= image_tag  @workorder.photo4.url ,width: "160",height: "160" if @workorder.photo4.present?%>
<%= image_tag  @workorder.photo5.url ,width: "160",height: "160" if @workorder.photo5.present?%>
<br>
<% if current_user.role == "Employee" %>
  <div id="chronoExample">
  <div>
  <% if @employee1.present? || @employee2.present? || @employee3.present? || @employee4.present? %>
  <% if @employee1.present? %>
  <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee1.id]) %>
  <% elsif @employee2.present? %>
  <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee2.id]) %>
  <% elsif @employee3.present? %>
  <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee3.id]) %>
            <% elsif @employee4.present? %>
            <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee4.id]) %>
            <% end %>
            <% end %>



            <button class="startButton" style="color: green;">Start Work</button>


            <button class="holdButton"  style="color: orange;">Hold Work</button>
            <!-- <button class="pauseButton" style="color: orange;">Pause</button> -->
            <button class="stopButton"  style="color: red;">Stop Work</button>
            <% if current_user.employee.employee_type == "Packing & Quality" %> 
            <% @pqc = EmployeesWorkorder.find_by(employee_id: current_user.employee_id , workorder_id: @workorder.id) %>
            <% if @pqc.status == "Completed" %>

<button class="delButton"  style="color: blue;">Ready To Deliever</button>
<% end %>
<% end%>





            <%#= link_to "Stop" , student_detail_path(:param1 => timer.getTimeValues().toString , :id => @student_detail.id) %>

            <%#=link_to 'Deactivate', centers_path(:param1 => false, :id => center.id),style: 'color: red'%>
<!--         <button class="stopButton">Stop</button>
-->        <!-- <button class="resetButton" style="color: blue;">Reset</button> -->
</div> 
</div>
<% end %>


<br><br>
<% if current_user.role == "SuperAdmin" || current_user.role == "Vendor" %>
<%= link_to 'Edit', edit_workorder_path(@workorder),class: "btn btn-warning " %>| 
<% end %>
<%= link_to 'Back', workorders_path,class: "btn btn-warning ",id: "back" %>
</div>
</div>
</div>
</div>
</section>

<% @final_amount = 0 %>
<% @total_amount1 = 0 %>
<% @amt1 = 0 %> 
<% @amt2 = 0 %> 
<% @amt3 = 0 %>
<% @amt4 = 0 %> 
<% @workorder.fproducts.each do |f| %>




   

  <% @uniq_ftypes = f.measurements.all.map{|m| m.ftype}.uniq %>
  

  <% @uniq_ftypes.each do |u| %>
  <% @full_amt = 0 %>
  
   <% if u == "Carcass Box" %>

   <% @carcass_measurements = f.measurements.where(ftype: u) %>
    <% @total_no = 0 %>
    <% @total_sqft = 0 %>
    <% @total_sqft_back = 0 %>
    <% @total_amount = 0 %>
    
   <% @carcass_measurements.each do |c| %>

   
   <% @total_no += c.quantity %>
   <% @sq = ((((c.width*c.depth)/92903)*2)*c.quantity)+((((c.height*c.depth)/92903)*2)*c.quantity) %>
   <% @skirting_sqft = 0 %>
   <% @v_area = 0 %>
   <% @h_area = 0 %>
    <% if c.skirting != nil %>
   <% @s_width = c.width - 36 %>
   <% @skirting_sqft = ((@s_width*c.skirting)/92903)*c.quantity %>
   <% end %>
   <!-- end of calculation of skirting -->
   <% if c.vertical != nil %>
   <% if c.skirting != nil %>
    <% @v_height = c.height-c.skirting-36 %>
    <% else %>
    <% @v_height = c.height-36 %>
     <% end %>
     <% @v_area = ((@v_height * c.depth)/92903)*c.quantity %>

   <% end %>

   <% if c.horizontal != nil %>
   <% @h_width = c.width - 36 %>
   <% @h_area =  ((@h_width*c.depth)/92903)*c.quantity %>
   <% end %>
    
<% @sqft = @sq + @skirting_sqft  + @v_area + @h_area %>
    <% @total_sqft += @sqft %>
   <% @total_sqft += @sqft %>
   <% @sqft_back = ((c.width*c.height)/92903)*c.quantity %>
   <% @total_sqft_back += @sqft_back %>
   <% @tot_amt = (@sqft.round(2)*c.rate)+(@sqft_back.round(2)*c.back_rate) %>
   <% @total_amount += @tot_amt %>
   <% @amt1 += @tot_amt %>
   

   <tr class="fields">
   <td><% @i %></td>
   <%= hidden_field_tag :id , c.id ,class: "hidden"%>
  
   
  
   
   
   
   
   

<% end %>


  
  
  <% end %>

<% @i = 0 %>
<% @j = 0 %>
<% @drawer_amount = 0 %>
   <% if u == "Drawer" %>
   
    
  <% @drawer_measurements = f.measurements.where(ftype: u) %>
    <% @total_no = 0 %>
    <% @total_sqft = 0 %>
    
    
   
    <% @drawer_measurements.each do |c| %>
   <% @i += 1 %>
   <% @j += 1 %>
   <% @total_no += c.quantity %>
   <tr class="fields1">
   
   <% @sqft = ((((c.height*c.depth)/92903)*2)*c.quantity)+((((c.height*c.width)/92903)*2)*c.quantity)+(((c.width*c.depth)/92903)*c.quantity) %>
   <% @total_sqft += @sqft %>
  
  
   <% @d_tot_amt = (@sqft.round(2)*c.rate) %>
   <% @drawer_amount += @d_tot_amt %>
   <% @amt2 += @d_tot_amt %>
   
 </tr>

 <% end %>
 <% end %>
  
 



   <% if u == "Shutters"%>
   
 
  <% @g_area = 0 %>
  <% @h_rate = 0 %>
  <% @hg_rate = 0 %>
  <% @hf_rate = 0 %>

  <% @shutter_measurements = f.measurements.where(ftype: u ) %>
  <% @tot_sqrft = 0 %>
  <% @tot_num = 0 %>
  <% @full_amt = 0 %>

   <% @shutter_measurements.each do |c| %>
  
   <% if c.glass_shutter == "Yes" %>
   <% @g_area = ((c.width * c.height)/92903)*c.quantity %>
   <% end %> 
   <% if c.handle == "Yes" %>
   <% @h_rate = ((c.width/305)*c.quantity)*20 %>
   
   <% end %> 
   <% if c.handle_groove == "Yes" %>
   <% @hg_rate = c.quantity * 20 %>
   <% end %> 
   <% if c.handle_fitting == "Yes" %>
   <% @hf_rate = c.quantity * 20 %>
   <% end %> 
   
  
   <% @sqrft = ((c.width*c.height)/92903)*c.quantity %>
   
   
   <% @tot_sqrft += @sqrft.round(2) %>
   
   
  

   
  
   <% @t_amt = (@sqrft.round(2)*c.rate.round(2))+(@g_area.round(2))*(c.rate.round(2)+20)+@h_rate+@hg_rate+@hf_rate %>

   <% @full_amt += @t_amt %>
   <% @amt3 += @t_amt %>

  
   
   
  

  </tr>
 
  
  <% end %>
  <% end %>

 <% if u == "White BSL Shelf" %>
   
  <% @bsl_measurements = f.measurements.where(ftype: u ) %>
  <% @tot_sqrft = 0 %>
  <% @tot_num = 0 %>
  <% @bsl_measurements.each do |c| %>
  <% @tot_num += c.quantity %>
  <% @sqrft = ((c.wh.to_f*c.depth)/92903)*c.quantity %>
  <% @tot_sqrft += @sqrft %>
  <% @t_amt = @sqrft.round(2) * c.rate %>

   <% @full_amt += @t_amt %>
   
   <% @amt4 += @t_amt %>
   
   
   
   
  <% end %>
  <% end%>
  
 
<% end %>
<% end %>
 
  
 
  
  

  
  
    
 
  



<% @amt = @amt1 + @amt2 + @amt3 + @amt4%>

<% @final_amount += @amt %>
<% @cgst = (@final_amount *9)/100 %>
<% @sgst = (@final_amount *9)/100 %>
<% @pay = @final_amount.round(2)+@cgst.round(2)+@sgst.round(2)%>
<% @total_to_pay = @pay.round(2) %>

<% @workorder.update(total_to_pay: @total_to_pay) %>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

  <% modal ||= false %>
  <% remote = modal ? true : false %>
  <% @colors = Color.all %>

  <div class="modal-dialog">    

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title" id="exampleModalCenterTitle">Add Color</h4>
      </div>
      <div class="modal-body">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <tr class="measurements">
            <%#= nested_form_for @workorder do |form| %>
            <%= form_for :additional ,url: {controller: "workorders",action: "add",workorder_id: @workorder.id} do |form| %>


            <td>Right&nbsp;&nbsp;<%= form.check_box :right , {class: "right"},"Yes" , "No" %></td>
            <%# @colors = Color.all %>
            
            
            <td><%= form.check_box :right_dark, {:class => "chb"},"Yes","No"%>Dark
            <%= form.check_box :right_light, {:class => "chb"},"Yes","No" %>Light</td>
          </tr>
          <tr>
            <td>Left&nbsp;&nbsp;<%= form.check_box :left , {class: "left"},"Yes" , "No" %></td>

            <td><%= form.check_box :left_dark, {:class => "chb1"},"Yes","No" %>Dark
            <%= form.check_box :left_light, {:class => "chb1"},"Yes","No" %>Light</td>
          </tr>
          <tr>
            <td>Top&nbsp;&nbsp;<%= form.check_box :top , {class: "top"},"Yes" , "No" %></td> 

            <td><%= form.check_box :top_dark, {:class => "chb2"},"Yes","No" %>Dark
            <%= form.check_box :top_light, {:class => "chb2"},"Yes","No" %>Light</td>
          </tr>
          <tr>
            <td>Bottom&nbsp;&nbsp;<%= form.check_box :bottom , {class: "bottom"},"Yes" , "No" %></td>

            <td><%= form.check_box :bottom_dark, {:class => "chb3"},"Yes","No" %>Dark
            <%= form.check_box :bottom_light, {:class => "chb3"},"Yes","No" %>Light</td>
          </tr>
        </table>

        <%= form.submit "Submit" ,class: "btn btn-success",id: "submit"%>

        <% end %>
      </div>
    </div>
  </div>



  <% content_for :javascript do %>
  <!-- <script src="/assets/easytimer.js"></script> -->

  <script type="text/javascript">

    /*var timer = new Timer();*/

    $('#chronoExample .startButton').click(function () {

      /*timer.start();*/
      var currentdate = new Date(); 
      var datetime = "Started Working: " + currentdate.getDate() + "/"
      + (currentdate.getMonth()+1)  + "/" 
      + currentdate.getFullYear() + " @ "  
      + currentdate.getHours() + ":"  
      + currentdate.getMinutes() + ":" 
      + currentdate.getSeconds();
      alert(datetime);
      var workorder_id = <%= @workorder.id%>;

      <%if @employee1.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee1.id]) %>
      <% if @work.status == "Pending" || @work.status == "Hold" %>

      var employee_id = <%= @employee1.id%>;
      <% end %>
      <% end %>

      <%if @employee2.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee2.id]) %>
      <% if @work.status == "Pending" || @work.status == "Hold" %>

      var employee_id = <%= @employee2.id%>;
      <% end %>
      <% end %>
      <%if @employee3.present? %>

      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee3.id]) %>
      <% if @work.status == "Pending" || @work.status == "Hold" %>

      var employee_id = <%= @employee3.id%>;
      <% end %>
      <% end %>
      <%if @employee4.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee4.id]) %>
      <% if @work.status == "Pending" || @work.status == "Hold" %>

      var employee_id = <%= @employee4.id%>;
      <% end %>
      <% end %>




      $.ajax({
       url: "/workorders/order_report",
       type: 'post',
       dataType: 'json',

       data: { starttime: datetime ,employee_id: employee_id,workorder_id: workorder_id}



     });

      $('#chronoExample .startButton').hide();


    });
  </script>


  <script type="text/javascript">

    $('#chronoExample .stopButton').on("click" ,function () {


      var currentdate = new Date(); 

      var datetime = "Completed Working: " + currentdate.getDate() + "/"
      + (currentdate.getMonth()+1)  + "/" 
      + currentdate.getFullYear() + " @ "  
      + currentdate.getHours() + ":"  
      + currentdate.getMinutes() + ":" 
      + currentdate.getSeconds();
      alert(datetime);
      var workorder_id = <%= @workorder.id%>;

      <%if @employee1.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee1.id]) %>
      <% if @work.status == "Working" %>

      var employee_id = <%= @employee1.id%>;
      <% end %>
      <% end %>

      <%if @employee2.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee2.id]) %>
      <% if @work.status == "Working" %>

      var employee_id = <%= @employee2.id%>;
      <% end %>
      <% end %>
      <%if @employee3.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee3.id]) %>
      <% if @work.status == "Working" %>

      var employee_id = <%= @employee3.id%>;
      <% end %>
      <% end %>
      <%if @employee4.present? %>
      <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee4.id]) %>
      <% if @work.status == "Working" %>

      var employee_id = <%= @employee4.id%>;
      <% end %>
      <% end %>

      $.ajax({
       url: "/workorders/end_time",
       type: 'post',
       dataType: 'json',

       data: { endtime: datetime ,employee_id: employee_id,workorder_id: workorder_id}



     });


    });







  </script>

  <script type="text/javascript">

    $('#chronoExample .holdButton').on("click" ,function () {



     var workorder_id = <%= @workorder.id%>;

     <%if @employee1.present? %>
     <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee1.id]) %>
     <% if @work.status == "Working" %>

     var employee_id = <%= @employee1.id%>;
     <% end %>
     <% end %>

     <%if @employee2.present? %>
     <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee2.id]) %>
     <% if @work.status == "Working" %>

     var employee_id = <%= @employee2.id%>;
     <% end %>
     <% end %>
     <%if @employee3.present? %>
     <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee3.id]) %>
     <% if @work.status == "Working" %>

     var employee_id = <%= @employee3.id%>;
     <% end %>
     <% end %>
     <%if @employee4.present? %>
     <% @work = EmployeesWorkorder.find_by(["workorder_id = ? and employee_id = ?",@workorder.id,@employee4.id]) %>
     <% if @work.status == "Working" %>

     var employee_id = <%= @employee4.id%>;
     <% end %>
     <% end %>

     $.ajax({
       url: "/workorders/status_update",
       type: 'post',
       dataType: 'json',

       data: { status: "Hold" ,employee_id: employee_id,workorder_id: workorder_id}
     });
  });
 </script>

 <script type="text/javascript">

    $('.delButton').on("click" ,function () {




     var workorder_id = <%= @workorder.id%>;


     $.ajax({
       url: "/workorders/delivery_status",
       type: 'post',
       dataType: 'json',

       data: {delivered: true ,workorder_id: workorder_id}
     });
  });
 </script>


 <script type="text/javascript">
    var a;
    $("table tr").on("click", '#add_color', function() {
      
      var elem = jQuery(this);
      container = elem.parents("tr.data");
      a = container.find("#m_id").val();
      
     });

    $(document).on("click" ,"#submit" , function(){
     
      var right_color = $("#additional_right_color").val();
      var workorder = <%= @workorder.id %>;

      
      if($("#additional_right").prop('checked') == false && ($("#additional_right_dark").prop('checked') == true || $("#additional_right_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      if($("#additional_left").prop('checked') == false && ($("#additional_left_dark").prop('checked') == true || $("#additional_left_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      if($("#additional_top").prop('checked') == false && ($("#additional_top_dark").prop('checked') == true || $("#additional_top_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }
      if($("#additional_bottom").prop('checked') == false && ($("#additional_bottom_dark").prop('checked') == true || $("#additional_bottom_light").prop('checked') == true)){
        alert("Please select side");
          return false;

      }


      if($("#additional_right").prop('checked') == true){
        var right = $("#additional_right").val();
        var right_color = $("#additional_right_color").val();

       
          

        if ($("#additional_right_dark").prop('checked') == false && $("#additional_right_light").prop('checked') == false){
          

          
          alert("Please select color shade");
          return false;
          
        }




      if($("#additional_right_dark").prop('checked') == true){
          var right_dark = $("#additional_right_dark").val();
        }
        else if($("#additional_right_light").prop('checked') == true){
          var right_light = $("#additional_right_light").val();
        }
     }
      if($("#additional_left").prop('checked') == true){
        var left = $("#additional_left").val();
        var left_color = $("#additional_left_color").val();
        if ($("#additional_left_dark").prop('checked') == false && $("#additional_left_light").prop('checked') == false){
          
          
          
          alert("Please select color shade");
          return false;
          
        }

        if($("#additional_left_dark").prop('checked') == true){
          var left_dark = $("#additional_left_dark").val();
        }
        else if($("#additional_left_light").prop('checked') == true){
          var left_light = $("#additional_left_light").val();



        }




      }
      if($("#additional_top").prop('checked') == true){
        var top = $("#additional_top").val();
        var top_color = $("#additional_top_color").val();
        if ($("#additional_top_dark").prop('checked') == false && $("#additional_top_light").prop('checked') == false){
          
          
          
          alert("Please select color shade");
          return false;
          
        }


        if($("#additional_top_dark").prop('checked') == true){
          var top_dark = $("#additional_top_dark").val();
        }
        else if($("#additional_top_light").prop('checked') == true){
          var top_light = $("#additional_top_light").val();



        }




      }
      if($("#additional_bottom").prop('checked') == true){
        var bottom = $("#additional_bottom").val();
        var bottom_color = $("#additional_bottom_color").val();
        if ($("#additional_bottom_dark").prop('checked') == false && $("#additional_bottom_light").prop('checked') == false){
          
          
          
          alert("Please select color shade");
          return false;
          
        }

        if($("#additional_bottom_dark").prop('checked') == true){
          var bottom_dark = $("#additional_bottom_dark").val();
        }
        else if($("#additional_bottom_light").prop('checked') == true){
          var bottom_light = $("#additional_bottom_light").val();



        }




      }


      $.ajax({
        url: "/workorders/add",
        type: 'POST',
        dataType: 'json',
        data: {measurement_id: a,right: right,right_color: right_color,right_dark: right_dark,right_light: right_light,left: left,left_color: left_color,left_dark: left_dark,left_light: left_light,top: top,top_color: top_color,top_dark: top_dark,top_light: top_light,bottom: bottom,bottom_color: bottom_color,bottom_dark: bottom_dark,bottom_light: bottom_light,workorder_id: workorder}
      });



    });



  </script>



  
 
  <!-- <script type="text/javascript">
    if($("#add_color").length != 0) {
    $("#back").on("click" , function(){

      
       if (confirm("Add Colors before leaving the page")) {
        return false;
    }


    });
  }
  </script> -->
<!-- <script type="text/javascript">

  window.onbeforeunload = function(event){

 
  event.preventDefault();
  return 'Please add colors before leaving this page';
};
</script> -->

<script type="text/javascript">
$(document).ready(function(){
  $('#add_color').trigger('click');
});
</script>



<script type="text/javascript">

  

  $(".chb").change(function() {
    var checked = $(this).is(':checked');
    $(".chb").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });

  $(".chb1").change(function() {
    var checked = $(this).is(':checked');
    $(".chb1").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });

  $(".chb2").change(function() {
    var checked = $(this).is(':checked');
    $(".chb2").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });

  $(".chb3").change(function() {
    var checked = $(this).is(':checked');
    $(".chb3").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
  });
  

</script>
  
  <% end %>

