<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }
   p {
       margin-bottom:0px;
   }
   address{
    display: block;
    width: 300px;
    margin:0px;
    
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee      }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }
.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:40%;
} 
.centerdiv{
  width:100%;
  margin:0 auto;
}

.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:40%;
} 
.centerdiv{
  width:100%;
  margin:0 auto;
}
p span{
  font-weight:700;
  color:#000;
}
</style>


<style>
table.qr-code {
  width: 100px;
  height: 100px;
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 2px;
  height: 2px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }

</style>
<div class="centerdiv">
<h3>Invoice-<%= @workorder.invoice_no %></h3>
</div>

<div class="rightdiv">
<h6>ADD:- SR.NO.28/31,NEAR PARI COMPANY,NARHE DHAYARI ROAD,DHAYARI,PUNE.411041.

 <br>
      <b>GST no:</b><br>
     <b> Date&Time:</b><br>
     <b>MO NO:-</b>7350799350<br> 
  <b>MAIL ID:-</b>vikasmulik57@gmail.com</h6>
      
    
    
    <h5><b>To:</b><%= @workorder.vendor.name if @workorder.vendor.present? %>
      <b>Gst No:</b><%= @workorder.vendor.gst_no if @workorder.vendor.present? %>
    </h5>
    </div>

  
    
   

<div class="maindiv">

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
<% k = 0 %>
<% @final_amount = 0 %>
<% @amt1 = 0 %> 
<% @amt2 = 0 %> 
<% @amt3 = 0 %> 

<% @workorder.fproducts.each do |f| %>
<% k += 1 %>



<table style="width:100%">
  <% @letters = ('A'..'Z').to_a %>

  <% @uniq_ftypes = f.measurements.all.map{|m| m.ftype}.uniq %>
  <% @m = 0 %>

  <% @uniq_ftypes.each do |u| %>
  <% @m += 1 %>
  
  <% @full_amt = 0 %>
  <% @drawer_amount = 0 %>

  <tr>
    
    <th style="font-size: 16px; background-color: #ccc; width: 75px;" colspan="10"><center><% if @m == 1 %><%= f.product %><br><% end %>(<%= @letters.shift %>)<%= u %></center></th>

    
  </tr>
  <% @i = 0 %>
  <% if u == "Carcass Box" %>
  <tr>
    <th>No</th>
    <th>Quantity</th>
    <th>Skirting</th>
    <th>Vertical</th>
    <th>Horizontal</th>
    <th>Sq.ft 18mm</th>
    <th>rate</th>
    <th>Sq.ft8mm(back)</th>
    <th>rate</th>
    <th>AMT</th>
  </tr>
  <% @carcass_measurements = f.measurements.where(ftype: u) %>
  <% @total_no = 0 %>
  <% @total_sqft = 0 %>
  <% @total_sqft_back = 0 %>
  <% @total_amount = 0 %>
  <% @carcass_rate1 = @rates.find_by(["product = ? and ptype=? and ctype = ?",f.product,u,"TB/LR"]) %>
  
  
    
    <%# @carcass_rate2 = @rates.find_by(["product = ? and ptype=? and ctype = ?",f.product,u,"Back"]) %>
    <%# @c1 = @carcass_rate1.price %>
    <%# @c2 = @carcass_rate2.price %>
   <% @carcass_measurements.each do |c| %>
   <% @i += 1 %>
   <% @total_no += c.quantity %>
   <% @sq = ((((c.width*c.depth)/92903)*2)*c.quantity)+((((c.height*c.depth)/92903)*2)*c.quantity) %>
   <% @skirting_sqft = 0 %>
   <% @v_area = 0 %>
   <% @h_area = 0 %>
    <% if c.skirting != nil %>
   <% @s_width = c.width - 36 %>
   <% @skirting_sqft = ((@s_width*c.skirting)/92903)*c.quantity %>
   <% end %>
   <!-- end of calculation of skirting -->
   <% if c.vertical != nil %>
   <% if c.skirting != nil %>
    <% @v_height = c.height-c.skirting-36 %>
    <% else %>
    <% @v_height = c.height-36 %>
     <% end %>
     <% @v_area = ((@v_height * c.depth)/92903)*c.quantity %>

   <% end %>

   <% if c.horizontal != nil %>
   <% @h_width = c.width - 36 %>
   <% @h_area =  ((@h_width*c.depth)/92903)*c.quantity %>
   <% end %>
    
    <% @sqft = @sq + @skirting_sqft  + @v_area + @h_area %>
    <% @total_sqft += @sqft %>
   <% @total_sqft += @sqft %>
   <% @sqft_back = ((c.width*c.height)/92903)*c.quantity %>
   <% @total_sqft_back += @sqft_back %>
   <% @tot_amt = (@sqft.round(2)*c.rate)+(@sqft_back.round(2)*c.back_rate) %>
   <% @total_amount += @tot_amt %>
   <% @amt1 += @total_amount %>
   <tr>
   <td><%= @i %></td>
  
   
   <td><%= c.quantity %></td>
   <% if c.skirting != nil %>
   <td>Yes</td>
   <% else %>
   <td>No</td>
   <% end %>
   <td><%= c.vertical %></td>
   <td><%= c.horizontal %></td>
   
   <td><%= @sqft.round(2) %></td>
   <td><%= c.rate if c.rate.present? %></td>
   
   <td><%= @sqft_back.round(2) %></td>
   <td><%= c.back_rate %></td>
   
   <td><%= @tot_amt.round(2) %></td>
 </tr>

  <% end %>
<% end %>

   <% if u == "Drawer" %>
   
    <th>No</th>
    <th>W</th>
    <th>D</th>
    <th>H</th>
    <th>Nos</th>
    <th>Sq.ft</th>
    <th>rate</th>
    <th>AMT</th>
  </tr>
  <% @drawer_measurements = f.measurements.where(ftype: u) %>
    <% @total_no = 0 %>
    <% @total_sqft = 0 %>
    
    
    <%# @drawer_rate = @rates.find_by(["product = ? and ptype=?",f.product,u]) %>
    <%# @d = @drawer_rate.price %>
    <% @drawer_measurements.each do |c| %>
   <% @i += 1 %>
   <% @total_no += c.quantity %>
   <tr>
   <td><%= @i %></td>
   <td><%= c.width %></td>
   <td><%= c.depth %></td>
   <td><%= c.height %></td>
   <td><%= c.quantity %></td>
   <% @sqft = ((((c.height*c.depth)/92903)*2)*c.quantity)+((((c.height*c.width)/92903)*2)*c.quantity)+(((c.width*c.depth)/92903)*c.quantity) %>
   <% @total_sqft += @sqft %>
   <td><%= @sqft.round(2) %></td>
   <td><%= c.rate if c.rate.present? %></td>
  
   <% @d_tot_amt = (@sqft.round(2)*c.rate) %>
   <% @drawer_amount += @d_tot_amt %>
   <% @amt3 += @drawer_amount %>
   <td><%= @d_tot_amt.round(2) %></td>
 </tr>

 <% end %>
 <% end %>
  
 



   <% if u == "Shutters" || u == "White BSL Shelf" %>
   <% if u == "Shutters" %>
   <tr>
    <th>No</th>
    
    <th>Quantity</th>
    <th>Sq.ft</th>
    <th>Glass Shutter</th>
    <th>Handle</th>
    <th>Handle Groove</th>
    <th>Handle Fitting</th>
    <th>rate</th>
    <th>AMT</th>
   </tr>
  <% else %>
   
   
   <tr>
    <th>No</th>
    
    <th>Quantity</th>
    <th>Sq.ft</th>
    <th>rate</th>
    <th>AMT</th>
    
  </tr>
  <% end %>
   
  <!-- Calculations of rates -->
  
  <!-- End of calculation -->
  <% @g_area = 0 %>
  <% @h_rate = 0 %>
  <% @hg_rate = 0 %>
  <% @hf_rate = 0 %>
  <% @shutter_measurements = f.measurements.where(ftype: u ) %>
  <% @tot_sqrft = 0 %>
  <% @tot_num = 0 %>
  
   <% @shutter_measurements.each do |c| %>
   <% if c.glass_shutter == "Yes" %>
   <% @g_area = ((c.width * c.height)/92903)*c.quantity %>
   <% end %> 
   <% if c.handle == "Yes" %>
   <% @h_rate = ((c.width/305)*c.quantity)*20 %>
   <% end %> 
   <% if c.handle_groove == "Yes" %>
   <% @hg_rate = c.quantity * 20 %>
   <% end %> 
   <% if c.handle_fitting == "Yes" %>
     <% @hf_rate = c.quantity * 20 %>
   <% end %> 
  <% @tot_num += c.quantity %>
  <% if u == "White BSL Shelf" %>
  <% @sqrft = ((c.wh.to_f*c.depth)/92903)*c.quantity %>
  <% else %>
   <% @sqrft = ((c.width*c.height)/92903)*c.quantity %>
   <% end %>
   
   <% @tot_sqrft += @sqrft %>

    <% @t_amt = ((@sqrft.round(2)+@g_area.round(2))*c.rate.round(2))+@h_rate+@hg_rate+@hf_rate %>

   <% @full_amt += @t_amt %>
   
   <% @amt2 += @full_amt %>
   

   
   <% @i += 1 %>
   
   <tr>
   <td><%= @i %></td>
   <td><%= @tot_num %></td>
   
   
  
   <td><%= @tot_sqrft.round(2) %></td>
   <% if u == "Shutters" %>
   <td><%= c.glass_shutter %></td>
   <td><%= c.handle %></td>
   <td><%= c.handle_groove %></td>
   <td><%= c.handle_fitting %></td>
   <% end %>
   <td><%= c.rate if c.rate.present? %></td>
   

   <td><%= @full_amt.round(2) %></td>
   
   
  

  </tr>
  
  <% end %>
  <% end %>
  
  
 

 
  
 
  
  

  
  
    
 
  
<% end %>
<% end %>

<tr><th colspan="9">Total</th>

  <% @amt = @amt1 + @amt2 + @amt3 %>
  
  
  <% @final_amount += @amt %>
<th><b><%= @final_amount.round(2) %></b></th></tr>
<tr><th colspan="9">CGST(9%)</th>

  <% @cgst = (@final_amount *9)/100 %>
  

  
  <th><%= @cgst.round(2) %></th>
  </tr>
  <tr><th colspan="9">SGST(9%)</th>

  
  <% @sgst = (@final_amount *9)/100 %>

  
  <th><%= @sgst.round(2) %></th>
  </tr>
  <tr  style="background-color: #F0E68C;"><th colspan="9">Total To Pay</th>
  <% @pay = @final_amount.round(2)+@cgst.round(2)+@sgst.round(2)%>
  
  
<th><b><%= @pay.round(2) %></b></th></tr>

<% @workorder.update(total_to_pay: @pay) %>

   
</table>

<div class="rightdiv">
                         <font color="green">Amount:<%=@workorder.total_to_pay.to_f.ceil%><br></font> 
                         
<%if @workorder.rem_price.present?%>
  Paid Amt:<%= @workorder.total_to_pay.to_f.ceil - @workorder.rem_price.to_f.ceil %>Rs<br>
<%else%>
  To Pay: <%= @workorder.total_to_pay.to_f.ceil%>Rs<br>
<%end%>
<%if @workorder.rem_price.present?%>
  Remaining:<%= @workorder.rem_price %>Rs<br>
<%end%>
</div>



<br><br>

</body>
</div>
</head>
</html>
