

<p id="notice"><%= notice %></p>

<font color="green">Total Count : <%=@total%> </font>


 <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Date</th>
      <th>Vendor Name</th>
      <th>Bill checked by</th>
      <th>Total Amount</th>
      <th>Amount Paid</th>
      <th>Pending Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @vendor.deliveries.each do |delivery| %>
      <tr>
        <td><%= link_to delivery.invoice_no, delivery_path(delivery) %></td>
        <td><%= delivery.date %></td>
        <td><%= delivery.vendor.name if delivery.vendor.present?%></td>
        <td><%= delivery.bill_checked_by %></td>
        <td><%= delivery.total_to_pay%></td>
        <td><%= delivery.add_price%></td>
        <td><%= delivery.remaining_price%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script>
  $(document).ready(function () {
    $('.dataTables-example').DataTable({
      dom: '<"html5buttons" B>lTfgitp',
      buttons: [
      {
        extend: 'copyHtml5',
        exportOptions: {
          columns: [ 0, ':visible' ]
        }
      },
      {
        extend: 'excelHtml5',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'pdfHtml5',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4 ]
        }
      },
      'colvis'
      ]
    });
  });
</script>

