<%- model_class = Delivery -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
</div>
 <%= link_to 'Download PDF ',payment_delivery_path(@delivery, format: 'pdf'),target: '_blank', class: "btn btn-primary"%> 
 
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:invoice_no) %>:</strong></dt>
  <dd><%= @delivery.invoice_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @delivery.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vendor_id) %>:</strong></dt>
  <dd><%= @delivery.vendor.name %></dd>
   <dt><strong>Comission:</strong></dt>
  <dd><%= @delivery.vendor.comission %>%</dd>
  <dt><strong><%= model_class.human_attribute_name(:bill_checked_by) %>:</strong></dt>
  <dd><%= @delivery.bill_checked_by %></dd>
</dl>

<p class="text-info">
  <strong>Payment Status:</strong>
  <%if @delivery.remaining_price == "0"%>
  <%@delivery.update!(payment_status:'true')%>
  <%end%>
  <%=@delivery.payment_status%>
</p> 
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Qunatity</th>
      <th>Remaning QTY</th>
      <th>Delivered QTY</th>
      <th> Total Amout</th>
    </tr>
  </thead>
  <tbody>

    <%total=0%>
    <%substraction=0%>
    <%comission=0%>

<%@delivery.delivery_inwards.each do |p|%>
      <tr>
        <td><%= p.product.name %></td>
        <td><%= p.product.price %></td>
        <td><%= p.quantity %></td>
         <td><%= p.rem_quantity %></td>
          <td><%= p.qty %></td>
           <%total += p.total_amt.to_i %>
                 <%substraction = p.quantity.to_i - p.qty.to_i %>
                 <%comission = (total.to_i*@delivery.vendor.comission.to_i)/100%>
          <%# if p.qty.present?%>
          <%#p.inward_product.update(quantity: p.rem_quantity)%>
          <%#end%>
                    <td><%= p.total_amt %></td>

      </tr>

    <% end %>
                         <font color="green">Total Amount to Pay: <%= total%><br></font> 
                         <%@delivery.update(total_to_pay: total )%>


    <%if @delivery.remaining_price.present?%>
                                     Payment Total: <%=text_field_tag :total,"",id: :total, value:  @delivery.remaining_price, readonly:true, class: 'form-control'%><br>

                <%else%>
                Payment Total: <%=text_field_tag :total,"",id: :total, value:  total, readonly:true, class: 'form-control'%><br>
                      <%end%>
                <%if @delivery.remaining_price.present?%>
                      Remaining <%=text_field_tag :remaining_price,"",value: @delivery.remaining_price,id: :remaining_price,readonly:true,class: 'form-control'%>
                <%else%>
                     Remaining <%=text_field_tag :remaining_price,"",id: :remaining_price,readonly:true,class: 'form-control'%>
                      <%end%>

                                    Add Amount To Pay<%= text_field_tag :add_price,"",id: :add_price, class: 'form-control'%><br>
                <button onclick="myFunction()", class="btn btn-success">Pay</button>
<%if @delivery.remaining_price == '0'%>
                          <font color="red">Payment of Rs.<%=@delivery.total_to_pay%> Done Successfully</font>
                          <%end%>
  </tbody>
</table>


<script type="text/javascript">


function refresh (timeoutPeriod){ 
    refresh = setTimeout(function(){window.location.reload(true);},timeoutPeriod); 
  } 

  $(document).ready(function(){
    $("#add_price").keyup(function(){
      var b = $("#total").val();
       var a = $("#add_price").val();
      $("#remaining_price").val(b-a);
      
    });
});

  function myFunction() {
    var paid_price  = $('#add_price').val();
    var rem_price = $('#remaining_price').val();
    document.location.search += '&params1='+ paid_price + '&params2='+ rem_price;
}

 function button(){
  alert(par);
 }



</script>