<%- model_class = Delivery -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
</div>
 <%= link_to 'Download PDF ',payment_delivery_path(@delivery, format: 'pdf'),target: '_blank', class: "btn btn-primary"%> 
 
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:invoice_no) %>:</strong></dt>
  <dd><%= @delivery.invoice_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @delivery.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vendor_id) %>:</strong></dt>
  <dd><%= @delivery.vendor.name if @delivery.vendor.present?%></dd>
  <dt><strong>Comission:</strong></dt>
  <dd><%= @delivery.vendor.comission %>%</dd> 
  <dt><strong><%= model_class.human_attribute_name(:bill_checked_by) %>:</strong></dt>
  <dd><%= @delivery.bill_checked_by %></dd>
</dl>

<p class="text-info">
  <strong>Payment Status:</strong>
  <%if @delivery.remaining_price == "0"%>
  <%@delivery.update!(payment_status:'true')%>
  <%end%>
  <%=@delivery.payment_status%>
</p> 
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Qunatity</th>
      <th>Remaning QTY</th>
      <th>Delivered QTY</th>
      <th> Total Amout</th>
      

      <% if @delivery.vendor.vendor_type.present? && @delivery.vendor.vendor_type == "Custom" %>
      <th> Total(after gst)</th>
      <% end %>
      
     
      
    </tr>
  </thead>
  <tbody>
    <% total1=0 %>
    <% total2=0 %>
<% @delivery.delivery_inwards.each do |p|%>
      <tr>
        <td><%= p.product.name if p.product.present? %></td>
        <td><%= p.price%></td>
        <td><%= p.quantity %></td>
         <td><%= p.rem_quantity %></td>
          <td><%= p.qty %></td>
          <%# if p.qty.present?%>
          <%#.update(after_delivery_string: p.rem_quantity)%>
          <%#end%>  <% @total_gst = p.total.to_f.ceil %>
                    <td><%= p.total_amt %></td>
                    <% if p.vendor.vendor_type.present? && p.vendor.vendor_type == "Custom" %>
                    <% total2 += @total_gst %>
                    <td><%= @total_gst %></td>
                    <% end %>
                    <% total1 += p.total_amt.to_i %>
                    
                    <% if p.vendor.vendor_type.present? && p.vendor.vendor_type == "Custom" %>
                    
                    <% @comission = (total2 * @delivery.vendor.comission.to_i)/100 if @delivery.vendor.present? %>
                    <% else %>
                    <% @comission = (total1.to_i * @delivery.vendor.comission.to_i)/100 if @delivery.vendor.present? %>
                    <% end %>
                              

                    


      </tr>
      <% end %>  
      <% if@delivery.vendor.comission.present? %>
                      
                      <% if@delivery.vendor.vendor_type.present? &&@delivery.vendor.vendor_type == "Custom" %>
                      
                       <td><strong>Amount To Pay:</strong><b><%= @total_pay = total2 - @comission.to_i %></b></td>
                         <% else %>
                       <td><strong>Amount To Pay:</strong><b><%= @total_pay = total1.to_i - @comission.to_i %></b></td>
                      <% end %>
                    </p>

    
            <% @delivery.update(comission: @total_pay) %>
                    
           <% end %> 
           <% if @delivery.remaining_price.present? %>
                      <td><strong>Pending Payment:</strong><font color="red"><%=@delivery.remaining_price %></font></td>
                      <% end %>                 

    
   
  </tbody>
</table>


                         <font color="green">Total Amount to Pay: <%=@total_pay%><br></font> 
                         <%@delivery.update(total_to_pay:@total_pay )%>


    <%if @delivery.remaining_price.present?%>
                                     Payment Total: <%=text_field_tag :total,"",id: :total, value:  @delivery.remaining_price, readonly:true, class: 'form-control'%><br>

                <%else%>
                Payment Total: <%=text_field_tag :total,"",id: :total, value: @total_pay, readonly:true, class: 'form-control'%><br>
                      <%end%>
                <%if @delivery.remaining_price.present?%>
                      Remaining <%=text_field_tag :remaining_price,"",value: @delivery.remaining_price,id: :remaining_price,readonly:true,class: 'form-control'%>
                <%else%>
                     Remaining <%=text_field_tag :remaining_price,"",id: :remaining_price,readonly:true,class: 'form-control'%>
                      <%end%>

                                    Add Amount To Pay<%= text_field_tag :add_price,"",id: :add_price, class: 'form-control'%><br>
                <button onclick="myFunction()", class="btn btn-success">Pay</button>
<%if @delivery.remaining_price == '0'%>
                          <font color="red">Payment of Rs.<%=@delivery.total_to_pay%> Done Successfully</font>
                          <%end%>
  </tbody>
</table>


<script type="text/javascript">
  
  function refresh (timeoutPeriod){ 
    refresh = setTimeout(function(){window.location.reload(true);},timeoutPeriod); 
  } 
  $(document).ready(function(){
    $("#add_price").keyup(function(){
      var b = $("#total").val();
      var c = $("#remaining_price").val();
      var a = $("#add_price").val();
      
       
       $("#remaining_price").val(b-a);
       if (parseInt(a) > parseInt(b))
       {
        alert("Wrong Value");
        $("#remaining_price").val("NA");
       }
        if (a == 0 && c == 0)
       {
        alert("welcome");
        
        document.getElementById("#add_price").readOnly = true;
       }
    
      
       });

  });
  function myFunction() {
    var paid_price  = $('#add_price').val();
    var rem_price = $('#remaining_price').val();
    document.location.search += '&params1='+ paid_price + '&params2='+ rem_price;
}

 function button(){
  alert(par);
 }



</script>

      
  




  
       

      
    
    
    
    
     
    

  