
        <% if current_user.role == "SuperAdmin" %>
        <% render "/home/calc" %>
        <section class="main-content-wrapper">
            
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        
                            <div class="col-md-3">
                                <div class="panel panel-solid-success widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-bar-chart"></i>
                                        <span class="total text-center">Payment</span>
                                        <div class="title text-center">
                                            Today's Paid: Rs.<%= @today_totl %><br>
                                            All Pendings:Rs.<%= @p_amt %><br>
                                            All:Rs.<%= @all %><br>

                                            <%= link_to "All Records", invoice_list_workorders_path %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-solid-danger widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-support"></i>
                                        <span class="total text-center">Workorders</span>
                                        <span class="title text-center">
                                            Not Approved:<b><%= @unapproved%></b><br>
                                            Pending:<b><%= @pending %></b><br>
                                            Hold:<b><%= @hold %></b><br>
                                            Working:<b><%= @working %></b><br>
                                            Complete:<b><%= @completed %></b><br>
                                            Delivered:<b><%= @Delivered %></b><br>
                                            <%= link_to 'Status of Orders', order_status_workorders_path%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-envelope-open"></i>
                                        <span class="total text-center">Vendor</span>
                                        <span class="title text-center">
                                            <%= @vendor %><br><%= link_to 'All Vendors', vendors_path %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-solid-info widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-user"></i>
                                        <span class="total text-center">Employee</span>
                                        <span class="title text-center">
                                            <%= @employees %><br><%=link_to 'All Employees', employees_path%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    <!-- <div class="col-md-3">
                                <div class="panel panel-solid-warning widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-bar-chart"></i>

                                        <span class="total text-center"><%#= Delivery.where(payment_status: false).count %></span>
                                        <span class="title text-center"><%#=link_to 'Pending Payment',deliveries_path%></span>

                                        <span class="total text-center"><%#= Delivery.where(payment_status: false).count %></span>
                                        <span cployee_type: "Edge Binding")

        @emp_type3 = Employee.find_by(employee_type: "Packing & Quality")


@pasting_record = EmployeesWorkorder.where(employlass="title text-center"><%#=link_to 'Pending Payment',deliveries_path%></span>

                                    </div>
                                </div>
                            </div> -->
                             
                   <!--  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-warning browser-chart">
                            <div class="panel-heading">
                                <h3 class="panel-title">Today's Delivery report</h3>
                            </div>
                            
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <ul>
                                            </i>Total Sales: Rs.<sm><%= @total %><br>Received Payment: Rs.
                                            <sm><%= @paid %></sm><br>
                                            Pending Payment: Rs.
                                            <sm><%= @rem_amt %></sm><br>
                                            </i>Delivered Items :
                                            <sm><%= @products.count%></sm><br>
                                            </i>Delivered Quantity:
                                            <sm><%= @qty%></sm>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div id="doughnut-canvas-holder">
                                            <canvas id="doughnut-chart-area" width="137" height="137"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Monthly Goal</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                <canvas width="160" height="100" id="gauge" class=""></canvas>
                                <div class="goal-wrapper">
                                    <span class="gauge-value pull-left">$</span>
                                    <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                                    <span id="goal-text" class="goal-value pull-right">$5,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
               <%@tanks =  Workorder.all%>
    <% @tanks.each do |tank| %>
    <%@emp = EmployeesWorkorder.where(workorder_id: tank.id, status: 'Completed')%>
    <%@emp_type = @emp.map{|e| e.employee.employee_type}%>
     <%@emp_status = @emp.map{|e| e.status}%>
      
      <%@emp_workorder = @emp.map{|e| [e.workorder_id].count}%>

<%end%>
<%= high_chart_globals(@chart_globals) %>

<div class="col-md-6">



 <%= high_chart("some_id", @chart) %>
</div>
<div class="col-md-6">
    <%# @paid = Workorder.where(payment_status: true).count %>
    <%# @pending = Workorder.count - @paid %>

<%#= high_chart("view_id",@hi) %>
<%= pie_chart [["Paid", @totl], ["Pending", @p_amt]] %>
</div>

                                
                </div>
            </section>
        </section>
   <% end %>
        <!--main content end-->
   
    <!--sidebar right start-->
    
    <!--/sidebar right end-->
    <!--Config demo-->
    
    <!--Global JS-->
 <!--    <%#= bar_chart Workorder.all.map { |goal|

    {id: goal.id, data: goal.fproducts.group_by_week(:created_at).count}
} %>
 -->
<%#= pie_chart Workorder.group(:created_at).count %>


<%#= column_chart EmployeesWorkorder.all.map { |goal|
    if goal.employee.employee_type == 'Pasting' || goal.status == 'Completed'
    {employee_id: goal.employee_id, data: 'Pasting'}
end
} %>


<!-- <div class="container text-center tanks-list">
  <div class="row">
    <%#@tanks =  Workorder.all%>
    <% #@tanks.each do |tank| %>
    <%#@emp = EmployeesWorkorder.where(workorder_id: tank.id, status: 'Completed')%>
    <%#@status = @emp.map{|e| e.employee.employee_type}%>
               <%#= pie_chart [["Pasting",@emp.map{|w| w.workorder_id}.count], ["Cutting", 0]] %>
      <div class="col-md-4 tank">

             <%#@status.each do |s|%>

        <p>Pasting: <%#= (s == 'Pasting') ? "Completed" : "Pending"%></p>
        <p>Cutting: <%#= (s == 'Cutting') ? "Completed" : "Pending" %></p>
        <p>Edge: <%#= (s == 'Edge') ? "Completed" : "Pending"%>%</p>
        <p>Packing: <%#= (s == 'Packing') ? "Completed" : "Pending"%>%</p>
      </div>
    <%# end %>
      <%# end %>
            <%#= line_chart @emp.group_by_day_of_week(:created_at, format: "%a").count,xtitle: "Today", ytitle: "Pasting"  %>

   



  </div>
</div>
 -->




<%#= column_chart Workorder.group_by_day_of_week(:created_at, format: "%a").count %>


<!-- 
<script type="text/javascript">
    Chartkick.eachChart( function(chart) {
  chart.redraw();
});
</script> -->

<!-- 
<script src="/assets/highcharts.js"></script>
<div id="container" style="width:100%; height:400px;"></div>


