
        
        
            



    
 <%#= pie_chart [["Paid", @totl], ["Pending", @p_amt]] %>

<section id="main-content" class="animated fadeInUp">
<%if current_user.role == "Employee" %>
<div align="center">
    <button id="inButton" class="btn btn-success" >IN</button>
    <button id="outButton"  class="btn btn-danger">OUT</button>
</div>
<% @date = Date.today %>

<% @emp = EmpWork.find_by(employee_id: current_user.employee_id,date: @date) %>

<!-- <p><h1>Your Today's In Time:</h1></p>
 --> <%# if @emp != nil %>
    <!-- <p id="demo"><%#= @emp.in_time %></p> -->
    <%# end%>
        <!-- <p><h1>Your Today's Out Time:</h1></p> -->
       
        <!-- <p id="demo1"></p> -->
        
<% elsif current_user.role == "SuperAdmin" %>
    <% render "/home/calc" %>
    
               
                        <div class="col-md-6">
                                <div class="panel panel-solid-danger widget-mini">
                                    <div class="panel-body">
                        <%= high_chart_globals(@chart_globals) %>
                        <%= high_chart("some_id", @chart) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                                <div class="panel panel-solid-success widget-mini">
                                    <div class="panel-body">
                        <%= high_chart("some_other_id",@chart_teste5) %>
                    </div>
                </div>
            </div> 
                 <div class="row">
                    <div class="col-md-12">
                        
                            <div class="col-md-3">
                                <div class="panel panel-solid-success widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-bar-chart"></i>
                                        <span class="total text-center">Payment</span>
                                        <div class="title text-center">
                                            Today's Paid: Rs.<%= @today_totl %><br>
                                            All Pendings:Rs.<%= @p_amt %><br>
                                            All:Rs.<%= @all %><br>

                                            <%= link_to "All Records", invoice_list_workorders_path %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-solid-danger widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-support"></i>
                                        <span class="total text-center">Workorders</span>
                                        <span class="title text-center">
                                            Not Approved:<b><%= @unapproved%></b><br>
                                            Pending:<b><%= @pending %></b><br>
                                            Hold:<b><%= @hold %></b><br>
                                            Working:<b><%= @working %></b><br>
                                            Complete:<b><%= @completed %></b><br>
                                            Delivered:<b><%= @Delivered %></b><br>
                                            <%= link_to 'Status of Orders', order_status_workorders_path%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-envelope-open"></i>
                                        <span class="total text-center">Vendor</span>
                                        <span class="title text-center">
                                            <%= @vendor %><br><%= link_to 'All Vendors', vendors_path %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-solid-info widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-user"></i>
                                        <span class="total text-center">Employee</span>
                                        <span class="title text-center">
                                            <%= @employees %><br><%=link_to 'All Employees', employees_path%></span>
                                    </div>
                                </div>
                            </div>


</div>
</div>

                       
                    <!-- <div class="col-md-3">
                                <div class="panel panel-solid-warning widget-mini">
                                    <div class="panel-body">
                                        <i class="icon-bar-chart"></i>

                                        <span class="total text-center"><%#= Delivery.where(payment_status: false).count %></span>
                                        <span class="title text-center"><%#=link_to 'Pending Payment',deliveries_path%></span>

                                        <span class="total text-center"><%#= Delivery.where(payment_status: false).count %></span>
                                        <span cployee_type: "Edge Binding")

        @emp_type3 = Employee.find_by(employee_type: "Packing & Quality")


@pasting_record = EmployeesWorkorder.where(employlass="title text-center"><%#=link_to 'Pending Payment',deliveries_path%></span>

                                    </div>
                                </div>
                            </div> -->
                             
                   <!--  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-warning browser-chart">
                            <div class="panel-heading">
                                <h3 class="panel-title">Today's Delivery report</h3>
                            </div>
                            
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <ul>
                                            </i>Total Sales: Rs.<sm><%= @total %><br>Received Payment: Rs.
                                            <sm><%= @paid %></sm><br>
                                            Pending Payment: Rs.
                                            <sm><%= @rem_amt %></sm><br>
                                            </i>Delivered Items :
                                            <sm><%= @products.count%></sm><br>
                                            </i>Delivered Quantity:
                                            <sm><%= @qty%></sm>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div id="doughnut-canvas-holder">
                                            <canvas id="doughnut-chart-area" width="137" height="137"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Monthly Goal</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                <canvas width="160" height="100" id="gauge" class=""></canvas>
                                <div class="goal-wrapper">
                                    <span class="gauge-value pull-left">$</span>
                                    <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                                    <span id="goal-text" class="goal-value pull-right">$5,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                

        

              
<!-- <div class="col-md-6">
 -->    <%# @paid = Workorder.where(payment_status: true).count %>
    <%# @pending = Workorder.count - @paid %>

<!-- </div>

 -->
            

                </div>

<% end %>

</section>
        
       
        

<% content_for :javascript do %>
    <script type="text/javascript">
        var time;
        $('#inButton').on("click" ,function () {
            var emp_id = <%= current_user.employee_id %>;
            var currentdate = new Date(); 
             time = + currentdate.getHours() + ":" + currentdate.getMinutes() + ":" 
      + currentdate.getSeconds();
      
      var date = currentdate.getDate() + "/" +(currentdate.getMonth()+1)  + "/" 
      + currentdate.getFullYear();
      alert(time);

/*      document.getElementById("demo").innerHTML = time;
*/
      
      $.ajax({
       url: "/employees/in_time",
       type: 'post',
       dataType: 'json',

       data: {in_time: time,date: date,employee_id: emp_id }



     });
        
      

      

    });







  
            
    $('#outButton').on("click" ,function () {
        var emp_id = <%= current_user.employee_id %>;
            
        
       
      var currentdate = new Date(); 


      var out_time =   
      + currentdate.getHours() + ":"  
      + currentdate.getMinutes() + ":" 
      + currentdate.getSeconds();
      
     start = time.split(":");
     end = out_time.split(":");

     alert(out_time);
/*           document.getElementById("demo1").innerHTML = out_time;
*/
    var startDate = new Date(0, 0, 0, start[0], start[1], 0);
    
    var endDate = new Date(0, 0, 0, end[0], end[1], 0);
    start_time = startDate.getTime();

    var diff = endDate.getTime() - startDate.getTime();

    var hours = Math.floor(diff / 1000 / 60 / 60);

    diff -= hours * 1000 * 60 * 60;

    var minutes = Math.floor(diff / 1000 / 60);


    // If using time pickers with 24 hours format, add the below line get exact hours
    if (hours < 0)
       hours = hours + 24;

    var wt = (hours <= 9 ? "0" : "") + hours + ":" + (minutes <= 9 ? "0" : "") + minutes;
    alert(wt);

      
      var date = currentdate.getDate() + "/" +(currentdate.getMonth()+1)  + "/" 
      + currentdate.getFullYear();
      
      
      $.ajax({
       url: "/employees/out_time",
       type: 'post',
       dataType: 'json',

       data: {out_time: out_time,date: date,employee_id: emp_id,work_hours: wt }



     });


    });

</script>
        <% end %>








