

 
<!-- Main content -->
	<div class="main-content">
		<h1 class="page-title">DASHBOARD</h1>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="panel minimal panel-info">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">Products</div> 
						
					</div> 
					<!-- panel body --> 
					<div class="panel-body">
						<div class="stack-order"> 
							<h1 class="no-margins"><%= Product.count %></h1>
							<small><%=link_to "Products", products_path%></small>
						</div>
						<div class="bar-chart-icon"></div>
					</div> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel minimal panel-warning">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">Returned Products</div> 
						 
					</div> 
					<!-- panel body --> 
					<div class="panel-body"> 
						<div class="stack-order">
							<h1 class="no-margins"><%= Return.count%></h1>
							<small><%= link_to 'Returned Products', returns_path%></small>
						</div>
						<div class="bar-chart-icon"></div>
					</div> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel minimal panel-success">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">Vendors</div> 
						
					</div> 
					<!-- panel body --> 
					<div class="panel-body"> 
						<div class="stack-order">
							<h1 class="no-margins"><%= Vendor.count%></h1>
							<small><%= link_to 'Total Vendors', vendors_path %></small>
						</div>
						<div class="bar-chart-icon"></div>
					</div> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel minimal panel-danger">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">Received Payment</div> 
						
					</div> 
					<!-- panel body --> 
					<div class="panel-body"> 
						<div class="stack-order">
							<h1 class="no-margins"><%#=StudentDetail.count%><%= Delivery.where(payment_status: true).count %></h1>
							<small><%=link_to 'Record Payment', deliveries_path%></small>
						</div>
						<div class="bar-chart-icon"></div>
					</div> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel minimal panel-default">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">Pending Payment</div> 
						
					</div> 
					<!-- panel body --> 
					<div class="panel-body"> 
						<div class="stack-order">
							<h1 class="no-margins"><%#=StudentDetail.count%><%= Delivery.where(payment_status: false).count %></h1>
							<small><%=link_to 'Record Payment',deliveries_path%></small>
						</div>
						<div class="bar-chart-icon"></div>
					</div> 
				</div>
			</div>
		
		<div class="col-lg-3 col-md-6">
				<div class="panel minimal panel-info">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">Today's Delivery Report</div> 
						
					</div> 
					<% render "/home/calc" %>
					<div class="panel-body"> 
						<div class="stack-order">
							<h6 class="no-margins"><b>Total Sales: Rs.</b>  <%= @total %></h6>
							<h6 class="no-margins"><b>Received Payment: Rs.</b> <font color="green"> <%= @paid %></font></h6>
							<h6 class="no-margins"><b>Pending Payment: Rs.</b><font color="red"><%= @rem_amt %></font></h6>
							<h6 class="no-margins"><b>Delivered Items :</b>   <%= @products.count%></h6>
							<h6 class="no-margins"><b>Delivered Quantity:</b>  <%= @qty%></h6>
							<small><%=link_to 'Delivery Details',deliveries_path%></small>
						</div>
						<div class="bar-chart-icon"></div>
					</div> 
				</div>
			</div>
		</div>

 
