 <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                            <div class="panel-body">

<p>
  <strong>Name:</strong>
  <%= @color.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @color.code %>
</p>

<p>
  <strong>Code:</strong>
  <%= @color.price if @color.price.present? %>
</p>

<%= link_to 'Edit', edit_color_path(@color),class: "btn btn-link" %> |
<%= link_to 'Back', colors_path,class: "btn btn-link" %>
</div>
</div>
</div>
</div>
</section>
