
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class=" panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New Work Order</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">

        <%= form_with(model: work_order, local: true) do |form| %>
        <% if work_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>

          <ul>
            <% work_order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>


          <div class="form-group">
            <div class="col-sm-3">
              <label class="col-sm-10 control-label">Width</label> 
              <%= form.text_field :width, id: :work_order_width ,class: "form-control" , placeholder: "Width(mm)"%>
            </div>
          </div>



          <div class="form-group">
            <div class="col-sm-3">
              <label class="col-sm-10 control-label">Depth</label> 
              <%= form.text_field :depth, id: :work_order_depth ,class: "form-control",placeholder: "Depth(mm)" %>

            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-3">
             <label class="col-sm-10 control-label">Height</label> 

             <%= form.text_field :height, id: :work_order_height,class: "form-control" ,placeholder: "Height(mm)"%>

           </div>
         </div>


         <div class="form-group">
          <div class="col-sm-3">
           <label class="col-sm-10 control-label">Quantity</label> 
           <%= form.text_field :quantity, id: :work_order_quantity,class: "form-control",placeholder: "Quantity" %>
         </div>
       </div>


       <div class="form-group">
        <div class="col-sm-3">
         <label class="col-sm-10 control-label">Select Color</label> 
         <%= form.select :color_id,Color.all.collect {|v| [v.code, v.id]}, {prompt:true},class: "form-control" %>
         <%#= f.select :vendor_id, Vendor.all.collect {|v| [v.name, v.id]}, {prompt:true} , :class => 'form-control' %>
       </div>
     </div>


     <div class="form-group">
      <div class="col-sm-3">
        <label class="col-sm-10 control-label">Select Side</label> 
        <%= form.select :side,options_for_select(['R', 'L','ALL']),{prompt:true},class: "form-control" %>
        <%#= form.select :payment_status, options_for_select(['PAID', 'PENDING','ALL']),{prompt:true}, class: 'form-control' %>
      </div>

    </div>


    <div class="form-group">
      <div class="col-sm-3">
       <label class="col-sm-10 control-label">Skirting</label> 
       <%= form.text_field :skirting, id: :work_order_skirting ,class: "form-control",placeholder: "Skirting(mm)"%>
     </div>
   </div>

</div>
 
 

 <span><b><u>White BSL Shelf Quantity:</u></b></span>

 <div class="form-group">
    <div class="col-sm-3">
      </div>
    </div>



 

  <div class="form-group">
    <div class="col-sm-3">
      
      <%= form.number_field :horizontal, id: :work_order_horizontal ,class: "form-control",placeholder: "Horizontal"%>
    </div>
</div>




<div class="form-group">
    <div class="col-sm-3">
      <!-- <label class="col-sm-10 control-label">Vertical</label>  -->
      <%= form.number_field :vertical, id: :work_order_vertical,class: "form-control" ,placeholder: "Vertical" %>
    </div>
  </div>



 
<div class="form-group">
    <div class="col-sm-3">
     <!-- <label class="col-sm-10 control-label">Center</label>  -->
     <%= form.number_field :center, id: :work_order_center,class: "form-control",placeholder: "Center" %>
   </div>
 </div>
 





<div class="row">
    <div class="col-md-12">

  <div class="form-group">
    <div class="col-sm-3">
      <label class="col-sm-10 control-label">Total</label> 
      <%= form.text_field :total, id: :work_order_total,class: "form-control" ,placeholder: "Total"%>
    </div>
  </div>

</div>
</div>
<div align="center">
<div class="form-group">
  <%= form.submit "Submit" ,class: "btn btn-primary" %>
  <%= link_to 'Cancel', work_orders_path , class: "btn btn-default" %>
</div>
</div>


<% end %>
</div>
</div>

</section>
<% content_for :javascript do %>

<script type="text/javascript">

  $(document).on("keyup", "#work_order_quantity", function(){



    var width =  $('#work_order_width').val();
    
    var depth = $('#work_order_depth').val();
    var height = $('#work_order_height').val();
    var quantity = $('#work_order_quantity').val();
    var bt = (width*depth)/92903;
    var sd = (height*depth)/92903;
    var bk = (width*height)/92903;

    var total = [(bt*2)+(sd*2)+bk]*quantity;



    /*var total1 = {(((width * depth )/92903)*2)*quantity}+{(((height * depth )/92903)*2)*quantity}+{((width * height )/92903)*quantity};*/
   
    var twoPlacedFloat = parseFloat(total).toFixed(2);

    $('#work_order_total').val(twoPlacedFloat);

  });




</script>
<% end %>

