<section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                            <div class="panel-body">


<p>
  <strong>Width:</strong>
  <%= @work_order.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @work_order.depth %>
</p>

<p>
  <strong>Height:</strong>
  <%= @work_order.height %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @work_order.quantity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @work_order.color %>
</p>

<p>
  <strong>Side:</strong>
  <%= @work_order.side %>
</p>

<p>
  <strong>Skirting:</strong>
  <%= @work_order.skirting %>
</p>

<p>
  <strong>Horizontal:</strong>
  <%= @work_order.horizontal %>
</p>

<p>
  <strong>Vertical:</strong>
  <%= @work_order.vertical %>
</p>

<p>
  <strong>Center:</strong>
  <%= @work_order.center %>
</p>

<p>
  <strong>Total:</strong>
  <%= @work_order.total %>
</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) , class: "btn btn-link" %> |
<%= link_to 'Back', work_orders_path) , class: "btn btn-link"  %>
</div>
</div>
</div>
</div>
</section>

