<%- model_class = Inward -%>




<section id="main-content" class="animated fadeInUp">
                      <div class="row">
                    <div class="col-md-12">
                        <div class=" panel panel-info">
                          <div class="panel-heading">
                            <h3 class="panel-title">Inward Details</h3>
                            <div class="actions pull-right">
                             <i class="fa fa-expand"></i>
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <%= link_to "Total Stock" , "/inwards/stock" , class: 'btn btn-primary '%>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_inward_path,
            :class => 'btn btn-primary' %>


       
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">



 <!--  Download: -->
<%#= link_to "Excel", export_inward_inwards_path(format: "xlsx"), class: 'btn btn-success' %>
</p>

  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:inward_no) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @inwards.each do |inward| %>
      <tr>
        <td><%= link_to inward.id, inward_path(inward) %></td>
        <td><%= inward.date %></td>
        <td><%= inward.inward_no %></td>
        <td><%=l inward.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      inward_path(inward), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_inward_path(inward), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      inward_path(inward),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                      <%if inward.rem_price == 0 %>
                      <%= link_to "Released Payment" ,inward_record_payment_inward_path(inward),class: "btn btn-xs btn-success" ,disabled: true %>
                      <% else %>
                      <%= link_to "Released Payment" ,inward_record_payment_inward_path(inward),class: "btn btn-xs btn-success" %>
                      <% end %>
                      <%= link_to "Transaction Details" ,inward_transaction_detail_inwards_path(inward_id: inward.id),class: "btn btn-xs btn-default" %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
</div>
</div>
</div>
</section>
<% content_for :javascript do %>
                   <!--Load these page level functions-->
                    <script>
                    $(document).ready(function() {
                         $('#example').dataTable();
                    });
                    </script>
            <% end %>






    
  