<%- model_class = Inward -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @inward.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inward_no) %>:</strong></dt>
  <dd><%= @inward.inward_no %></dd>
</dl>


<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Product Name</th>
      
      
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>



<tr>
  <%# InwardProduct.all.map{|k| k.product.name}.to_a.uniq %>
  
        
        
        

        <%#= i.inward_products.map{|q| q.quantity.to_i}.to_a.inject(0){|sum , 
        x|sum+x } %><%# end %>
 <%  @inward.inward_products.each do |i| %> 


<td>
<%= i.product.name %>
</td>

<td>
  <%= i.quantity %>
  </td>




  
  
  
  


  <%# end %>

 
  <%#= (i.quantity.to_i+ip.quantity.to_i) %>
  <%# end %>
  







      

        <%# @products.include? i.product_id %>
    <%#= @qua.where(product_id: i.product.id).pluck(:quantity).map{|k| k.to_i}.inject(0){|sum , x| sum+x}
 %><td>
  <%# @inwards.each do |k| %>

 <%#= @qua.where("product_id = ? " , i.product_id ).pluck(:quantity).map{|k| k.to_i}.inject(0){|sum , x| sum+x} %>

 
 </td>
 
 
    
      
   
    <td><%#= qua.map{|q| q.quantity.to_i}.to_a.inject(0){|sum , x| sum+x } %></td>
    <%# end %>   




      
        
        <%# if %>
        <%# p.product_id == 1 %>
        <%# @inwards.each do |i|%>
        <%# i.inward_products.each do |pro| %>

        
        <td><%#= pro.quantity.to_i + p.quantity.to_i %></td>
        <%# end %>
        <%# end %>
      </tr>
    <%# end %>

    
    <% end %>
    <%#end %>

  </tbody>
</table>




<%= link_to t('.back', :default => t("helpers.links.back")),
              inwards_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_inward_path(@inward), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              inward_path(@inward),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
