
<%if @type == 'Payment Status'%>
<font color="green"> <b>Total Deliveries</b></font
  > <%=@deliveries.count%> 
    <%#= link_to "Excel", deliveries_path(format: "xls"), class: 'btn btn-success' %>
 
 <div class="table-responsive">
          <table id="payment_status" class="table table-striped">
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Bill checked by</th>
      <th>Payment Status</th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= link_to delivery.invoice_no, record_payment_delivery_path(delivery)%></td>
        <td><%= delivery.date %></td>
        <td><%= delivery.vendor.name if delivery.vendor.present?%></td>
        <td><%= delivery.bill_checked_by %></td>
       <td><%if delivery.payment_status == true%>
        <font color="green">Paid</font>
        <%elsif delivery.payment_status == false%>
        <font color="red">Pending</font>
        <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
        $('#payment_status').dataTable()
        sPaginationType: "full_numbers"
</script>

<br>
</div>

    <% end %>

  



    <%if @type == 'Return'%>
<font color="green"> <b>Total Returns</b></font
  > <%=@return_modules.count%> 
      <%= link_to "Excel", export_return_reports_path(start_date: @start_date,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

 <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >  <thead>
    <tr>
      <th>Date of return</th>
      <th>Invoice no</th>
      <th>Vendor</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Purpose</th>
      <th>Receipt no</th>
            <th>Return Type</th>

    </tr>
  </thead>

  <tbody>
    <% @return_modules.each do |return_module| %>
      <tr>
        <td><%= return_module.date_of_return %></td>
        <td><%= return_module.invoice_number %></td>
        <td><%= return_module.vendor.name if return_module.vendor.present?%></td>
        <td><%= return_module.product.name if return_module.product.present? %></td>
        <td><%= return_module.return_quantity %></td>
        <td><%= return_module.purpose %></td>
        <td><%= return_module.receipt_no %></td>
        <td><%= return_module.return_type %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>
</div>
    <% end %>


    <%if @type == 'Inward'%>
    <font color="green"> <b>Total Inwards</b></font> 
    <%=@total_inwards.count%> 
    <%= link_to "Excel", export_reports_path(start_date: @start_date ,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

<div class="table-responsive">
          <table id="inward" class="table table-striped" >
  <thead>
    <tr>
      <th>Date</th>
      <th>Inward number</th>
      <th>Product</th>
      <th>Quantity</th>
  
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
    <% @total_inwards.each do |inward_module| %>

    <%# if inward_module.created_at >= @start_date && inward_module.created_at<= @end_date %>
       <td><%= inward_module.inward.date %></td>
        <td><%= inward_module.inward.inward_no %></td>
        <td><%= inward_module.product.name %></td>
        <td><%= inward_module.quantity %></td>
      </tr>
   
  
 <% end %>
<%# end %>
</tbody>
</table>
<script type="text/javascript">

        $('#inward').dataTable()
        sPaginationType: "full_numbers"

</script>
<br>
</div>



<%end%>



    <%if @type == 'Delivery Items'%>
    <font color="green"> <b>Total Delivered Items</b></font>
     <%= @delivery_items.count%> 
                <%= link_to "Excel", export_delivery_reports_path(start_date: @start_date,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

<div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >

  <thead>
    <tr>
      <th>Date</th>
      <th>Invoice number</th>
      <th>Vendor</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remaining Quantity</th>
       <th>Sold Quantity</th>
       <th>Total</th>
  
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
    <% @delivery_items.each do |delivery_item| %>
 
       <td><%= delivery_item.delivery.date %></td>
        <td><%= delivery_item.delivery.invoice_no %></td>
        <td><%= delivery_item.delivery.vendor.name %></td>
        <td><%= delivery_item.product.name %></td>
        <td><%= delivery_item.quantity %></td>
        <td><%= delivery_item.rem_quantity %></td>
        <td><%= delivery_item.qty %></td>
        <td><%= delivery_item.total_amt %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>



<%end%>

      
     

     <%if @type == 'All Vendors'%>

<p id="notice"><%= notice %></p>

<font color="green">Total Count : <%=@total%> </font>


 <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Date</th>
      <th>Vendor Name</th>
      <th>Bill checked by</th>
      <th>Total Amount</th>
      <th>Amount Paid</th>
      <th>Pending Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |delivery| %>
    <% delivery.deliveries.each do |p|%>
      <tr>
        <td><%= p.invoice_no%></td>
        <td><%= p.date %></td>
        <td><%= p.vendor.name%></td>
        <td><%= p.bill_checked_by %></td>
        <td><%= p.total_to_pay%></td>
        <td><%= p.add_price%></td>
        <td><%= p.remaining_price%></td>
      </tr>
    
 
<% end %>
<br>

<%end%>
</tbody>
</table>
<%end%>
 <%if @type == 'Custom Deliveries'%>

<p id="notice"><%= notice %></p>

<!-- <font color="green">Total Count : <%= @deliveries.count%> </font>
 -->
<% @total=0 %>
<%= link_to "Excel", export_custom_reports_path(start_date: @start_date,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

  <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Date</th>
      <th>Vendor Name</th>
      <th>Total Amount</th>
      <th>Amount Paid</th>
      
      <th>Pending Amount</th>
    </tr>
  </thead>
  <% @total = 0 %>

  <tbody>
    <% @deliveries1.each do |p| %>
    <% if p.vendor.vendor_type.present? && p.vendor.vendor_type == "Custom" %>
      <tr>
        <td><%= p.invoice_no%></td>
        <td><%= p.date %></td>
        <td><%= p.vendor.name%></td>
         
      <td><%= p.total_to_pay %></td>
      <% if p.remaining_price == nil %>
      <td><%= @paid = p.total_to_pay.to_i - p.total_to_pay.to_i %></td>
      <% else %>
      <td><%= @paid = p.total_to_pay.to_i - p.remaining_price.to_i %></td>
      <% end %>
      
      <td><%= p.total_to_pay.to_i - @paid %></td>
        
        
      </tr>
    
 
<% end %>
<% end %>
<br>

</tbody>
</table>
<%end%>

 <%if @type == 'Regular Deliveries'%>

<p id="notice"><%= notice %></p>

<!-- <font color="green">Total Count : <%=@total%> </font>
 -->
<%= link_to "Excel", export_regular_reports_path(start_date: @start_date,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

  <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Date</th>
      <th>Vendor Name</th>
      <th>Total Amount</th>
      <th>Amount Paid</th>
      
      <th>Pending Amount</th>
    </tr>
  </thead>
  <% @total = 0 %>

  <tbody>
    <% @deliveries1.each do |p| %>
    <% if p.vendor.vendor_type != "Custom" %>
      <tr>
        <td><%= p.invoice_no%></td>
        <td><%= p.date %></td>
        <td><%= p.vendor.name%></td>
         
      <td><%= p.total_to_pay %></td>
      <% if p.remaining_price == nil %>
      <td><%= @paid = p.total_to_pay.to_i - p.total_to_pay.to_i %></td>
      <% else %>
      <td><%= @paid = p.total_to_pay.to_i - p.remaining_price.to_i %></td>
      <% end %>
      
      <td><%= p.total_to_pay.to_i - @paid %></td>
        
      </tr>
    
 
<% end %>
<% end %>
<br>

</tbody>
</table>
<%end%>

<%= link_to 'Back', new_report_path, class: 'btn btn-info'%>
