
                          <%= link_to 'Back', new_report_path, class: 'btn btn-info'%>

<%if @type == 'Payment Status'%>


<font color="green"> <b>Total Deliveries</b></font
  > <%=@deliveries.count%> 
    <%#= link_to "Excel", deliveries_path(format: "xls"), class: 'btn btn-success' %>
 
 <div class="table-responsive">
          <table id="payment_status" class="table table-striped">
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Bill checked by</th>
      <th>Payment Status</th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= link_to delivery.invoice_no, record_payment_delivery_path(delivery)%></td>
        <td><%= delivery.date %></td>
        <td><%= delivery.vendor.name %></td>
        <td><%= delivery.bill_checked_by %></td>
       <td><%if delivery.payment_status == true%>
        <font color="green">Paid</font>
        <%elsif delivery.payment_status == false%>
        <font color="red">Pending</font>
        <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
        $('#payment_status').dataTable()
        sPaginationType: "full_numbers"
</script>

<br>
</div>

    <% end %>

  



    <%if @type == 'Return'%>
<font color="green"> <b>Total Returns</b></font
  > <%=@return_modules.count%> 
      <%= link_to "Excel", export_return_reports_path(start_date: @start_date,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

 <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >  <thead>
    <tr>
      <th>Date of return</th>
      <th>Invoice no</th>
      <th>Vendor</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Purpose</th>
      <th>Receipt no</th>
            <th>Return Type</th>

    </tr>
  </thead>

  <tbody>
    <% @return_modules.each do |return_module| %>
      <tr>
        <td><%= return_module.date_of_return %></td>
        <td><%= return_module.invoice_number %></td>
        <td><%= return_module.vendor.name %></td>
        <td><%= return_module.product.name %></td>
        <td><%= return_module.return_quantity %></td>
        <td><%= return_module.purpose %></td>
        <td><%= return_module.receipt_no %></td>
                <td><%= return_module.return_type %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>
</div>
    <% end %>


    <%if @type == 'Inward'%>
    <font color="green"> <b>Total Inwards</b></font> 
    <%=@total_inwards.count%> 
    <%= link_to "Excel", export_reports_path(start_date: @start_date ,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

<div class="table-responsive">
          <table id="inward" class="table table-striped" >
  <thead>
    <tr>
      <th>Date</th>
      <th>Inward number</th>
      <th>Product</th>
      <th>Quantity</th>
  
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
    <% @total_inwards.each do |inward_module| %>

    <%# if inward_module.created_at >= @start_date && inward_module.created_at<= @end_date %>
       <td><%= inward_module.inward.date %></td>
        <td><%= inward_module.inward.inward_no %></td>
        <td><%= inward_module.product.name %></td>
        <td><%= inward_module.quantity %></td>
      </tr>
   
  
 <% end %>
<%# end %>
</tbody>
</table>
<script type="text/javascript">

        $('#inward').dataTable()
        sPaginationType: "full_numbers"

</script>
<br>
</div>



<%end%>



    <%if @type == 'Delivery Items'%>
    <font color="green"> <b>Total Delivered Items</b></font>
     <%= @delivery_items.count%> 
                <%= link_to "Excel", export_delivery_reports_path(start_date: @start_date,end_date: @end_date ,format: "xlsx"), class: 'btn btn-success' %>

<div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >

  <thead>
     <tr >
      <th>Product</th>
      <th>Quantity</th>
      <th>Amount </th>
      
      
      </tr>
     </thead>
     <%Product.all.each do |p|%>
     <tr>
    <th><%= p.name%></th>
  </tr>
    <%end%>
    
    
     <tbody>
      <%@deliveries.each do |d|%>

      <%d.delivery_inwards.each do |di|%>

      <%if d.date.between?(@start_date, @end_date)%>

     <td><%= di.qty%></td>
     <td><%= di.qty.to_i * di.product.price.to_i %> </td>
    
      <%end%>

       </tr>
      
      <% end %>
  <%end%>
      
    
     
   
    

  </tbody>
      
      
      
     
     
      
      
  
    
  
 
    

   
 
 
    

    
  
  
    
    
       
       

       
        

     
    
 
</table>
<br>
</div>
<% end %>







<script>
  $(document).ready(function () {
    $('.dataTables-example').DataTable({
      dom: '<"html5buttons" B>lTfgitp',
      buttons: [
      {
        extend: 'copyHtml5',
        exportOptions: {
          columns: [ 0, ':visible' ]
        }
      },
      {
        extend: 'excelHtml5',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'pdfHtml5',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4 ]
        }
      },
      'colvis'
      ]
    });
  });
</script>
