<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>QSET-Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <%= stylesheet_link_tag 'base' %>
    <% if user_signed_in? %>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>  

<% end %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %> 
<%= csrf_meta_tags %>
</head>
<body>

    <!-- Page Wrapper-->
    <% if user_signed_in? %>
    <section id="main-wrapper" class="theme-default sidebar-mini">
       <!-- Page wrapper -->
        <header id="header"> <%= render partial: "layouts/header" if user_signed_in? %> </header>
        <!-- Left Sidebar Navigation -->
        <aside class="sidebar sidebar-left"> <%= render partial: "layouts/sidebar"  if user_signed_in? %> </aside>
        <% end %>
        <!-- Content wraper -->
         <section class="main-content-wrapper">
            <!-- Main content view  -->
                <%= yield %>

            <!-- Footer -->
           
        </section>
        <!-- /Content wraper-->
    </section>
    <!-- /Page wrapper-->
    <!-- Right Sidebar Navigation -->
    
    <!-- /Right Sidebar Navigation -->
        <!-- Config for demo -->
   
    <!-- /Config for demo -->

      <!-- Global scripts -->
     <%= javascript_include_tag 'base' %>
     <!-- Page level plugin scripts -->
<% if user_signed_in? %>
<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
<% end %>
     <%= javascript_include_tag 'application' %>
     <%#= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %> 
     <%= yield :javascript %>

</body>
</html>
